@import 'globals.scss';
@import 'comments.scss';
@import 'pagination.scss';

body {
    margin: 0px;
    width: 100%;
    font-weight: 300;
    overflow: auto;
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2px!important;
    height: 2px!important;
}

.code {
    font-family: $code;
}

@each $skin, $config in $skins {
    .#{$skin} #topbar,
    .#{$skin} .topwrapper,
    .#{$skin} #triggers-wrapper .buttons .button,
    .#{$skin} #main #sets .set .name:hover
    {
        background-color: skbg($config);
        color: skbgc($config);
    }

    #theme .#{$skin}.skin {
        color: skbgc($config);
        background: skbg($config);
        border: 1px solid skbgc($config);
    }
    
    .#{$skin} #friends-links-wrapper .feed .date,
    .#{$skin} #friends-links-wrapper .feed .summary,
    .#{$skin} #friends-links-wrapper .about-friendly-link a
    {
        color: skbgc($config)!important;
    }

    .#{$skin} #friends-links-wrapper .about-friendly-link a:hover {
        border-bottom: 1px solid skbgc($config)!important;
    }

    .#{$skin} #triggers-wrapper .buttons .active.button {
        border-top: 1px solid skbgc($config);
    }

    .#{$skin} .avatar img
    {
        border: 5px solid skbg($config);
    }

    .#{$skin} #search-wrapper input[type=search] {
        border: 1px solid skbgc($config);
        color: skbgc($config);
    }

    .#{$skin} #main #sets .set .count,
    .#{$skin} #main #sets .set .name
    {
        color: skbg($config);
    }
    
    .#{$skin} #main #entrys .card .header,
    .#{$skin} .bigtitle
    {
        color: skcl($config);
    }

    .#{$skin} #jinrishici-sentence {
        color: skbgc($config);
    }

    .#{$skin} .bigtitle:after {
        background: skbg($config);
    } 
    
    .#{$skin} #donate .button {
        color: skbg($config)!important;
        border: 1px solid skbg($config);
        -webkit-box-shadow: 0 0 0 5px skbg($config) inset;
        box-shadow: 0 0 0 5px skbg($config) inset;
    }

    .#{$skin} #donate .button:hover {
        -webkit-box-shadow: 0 0 0 1px skbg($config) inset;
        box-shadow: 0 0 0 1px skbg($config) inset;
    }

    .#{$skin} #footer {
        background: skbg($config);
    }
}

#theme .skin {
    padding: 1em 1.3em;
    font-size: 1.375rem;
    display: inline-block;
    margin: 1em;
    cursor: pointer;
    font-weight: 800;
}

#theme {
    text-align: center;
    margin-top: 1.5em;
}

#site-wrapper .container .list .item .content {
    color: #fff;
}

#donation-wrapper .buttons .button {
    width: 120px;
    border-radius: 0!important;
}

#donation-wrapper .description {
    margin-top: 30px;
    margin-bottom: 30px;
}

#donation-wrapper #wechat.active {
    background-color: #44b549;
}

#donation-wrapper #alipay.active {
    background-color: #059AE3;
}

#donation-wrapper #donation-qrcode img {
    max-width: 300px;
    margin: 20px auto;
}

#social-links-wrapper {
    text-align: center;
}

#social-links-wrapper #friendly-links {
    width: 60%;
    text-align: left;
}

#friends-links-wrapper .feed:hover {
    background: rgba(0,0,0,.03);
    color: rgba(0,0,0,.8);
}

#friends-links-wrapper .feed .label {
    width: 3.5em;
}

#friends-links-wrapper .feed .date {
    font-size: 1.2em;
    opacity: .45;
}

#friends-links-wrapper .feed .summary {
    font-weight: 300;
    line-height: 1.8em;
    font-size: 1.375rem;
}

#friends-links-wrapper .about-friendly-link {
    margin-top: 1.5em;
    font-weight: 300;
    line-height: 1.8em;
    font-size: 1.315rem;
    text-align: center;
    background: rgba(0,0,0,.03);
    padding: .6em 1em;
}

#friends-links-wrapper .about-friendly-link a {
    opacity: .45;
}


#friends-links-wrapper .about-friendly-link a:hover {
    opacity: 1;
}

#social-links-wrapper #wx {
    text-align: center;
}

#social-links-wrapper #wx img {
    margin-top: 20px;
    height: 240px;
}

#triggers-wrapper {
    text-align: center; 
}

#triggers-wrapper .buttons .button {
    border-radius: 0!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.avatar {
    text-align: center;
}

.avatar img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

#search-wrapper #search {
    text-align: center;
    padding: 1em;
}

#search-wrapper input[type=search] {
    background-color: rgba(255,255,255,.1);
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 400;
    padding: .8em 1em;
    width: 100%;
}

#main {
    background: #fff;
    padding-top: 50px;
}

#main .me {
    text-align: center;
}

#main .me .name {
    font-size: 1.8em;
    padding: 0.8em;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 3px;
}

#main .me .sign {
    color: #999;
}

#main .top.menu {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -16px; 
    border-top: 1px solid #f3f3f4;
    border-bottom: 1px solid #f3f3f4;
    padding: .6em;
    text-align: center;
}

#main #sets {
}

#main #sets .set {
    border: 1px solid #eee;
    margin-bottom: 4em;
}

#main #sets .set .count {
    font-size: 1.325rem;
    font-weight: 700;
    padding: 1em;
}

#main #sets .set .count:hover {
    font-weight: 700;
}

#main #sets .set .name {
    float: right;
    padding: 1em;
    font-weight: 700;
    background: #fff;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: -1px;
    margin-right: -1px;
    display: inline-block;
}

#main #sets .list {
    margin-bottom: 4em;
}

#main #sets .list .item {
    border-radius: 0;
}

#main #sets .list .item .header {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.8rem;
}

#main #entrys {
}

#main #entrys .list .item {
    padding-top: 3em!important;
    padding-bottom: 2.5em!important;
    border-radius: 0!important;
}

#main #entrys .list a {
    text-decoration: none;
}

#main #entrys .list>.item:first-child {
    border-top: 0px;
}

#main #entrys .card .header {
    font-size: 28px;
    line-height: 34px;
    font-weight: 300;
    padding-bottom: .4em;
}

#main #entrys .card  .date {
    font-size: 1.250em;
    color: #aaa;
    float: right;
    font-weight: 300;
}

#main #entrys .card .image.cover {
    border-radius: 0!important;
    height: 20rem;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-color: #DAAF2B;
    border-radius: .3rem;
    background-image: url(/user/images/shortcut.svg);
    box-shadow: 0 0 1px grey;
}

#topbar {
    height: 5px;
    width: 100%;
}

#donate .button {
    border-radius: 0;
}

#donate .button .icon {
    margin-right: 0;
}

#printmark {
    text-align: center;
    display: none;
}

#footer {
    padding: 2em;
    text-align: center;
    letter-spacing: 2px;
}

#end {
    padding: 2em;
    text-align: center;
    background: #fff;
    letter-spacing: 2px;
}

#footer b {
    color: #fff!important;
}

.bigtitle {
}

.bigtitle:after {
    content: "";
    width: 4rem;
    height: 2px;
    display: block;
    margin-top: 1.5rem;
}

#jinrishici-sentence {
    font-size: 1.125rem;
    font-weight: 700;
}

#jinrishici-tag {
    position: absolute;
    font-size: 98px;
    font-weight: 800;
    opacity: 0.1;
    text-align: center;
    width: 100%;
    right: 0;
    left: 0;
    text-shadow: 2px 0px #333;
}

@media only screen and (min-width: 1200px) {
    .topwrapper .ui.container {
        width: 50%;
    }

    #content {
        width: 50%;
    }
    
    #main #entrys {
        width: 48%;
    }

    #main #sets {
        width: 45%;
    }
}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .topwrapper .ui.container {
        width: 70%;
    }

    #main #myavatar {
        display: none;
    }

    #main #entrys .card  .date {
        font-size: .9250em;
    }

    #main #entrys .card .header {
        font-size: 20px;
        line-height: 28px;
    }

    #main #entrys .card .image.cover {
        max-height: 300px;
    } 
}


@media only screen and (max-width: 767px) {
    #site-wrapper .container {
        width: 100%;
    }

    #main #myavatar {
        display: none;
    }

    #main #entrys .card  .date {
        font-size: .9250em;
    }

    #main #entrys .card .header {
        font-size: 20px;
        line-height: 28px;
    }

    #main #entrys .card .image.cover {
        max-height: 300px;
    } 

    #friends-links-wrapper .feed .summary {
        font-size: 1.2em;
    }

    #friends-links-wrapper .feed .date {
        font-size: 1em;
    }
}

@media print {
    #main {
        padding: 1em;
    }
    #entryMain {
        padding-top: 2em;
    }

    #content, #main #entrys {
        width: 100%;
    }

    #site-wrapper {
        display: none;
    }

    #triggers-wrapper {
        display: none;
    }

    #main .menu {
        display: none;
    }
    
    #topbar, #donate, #comments, #more-words {
        display: none;
    }

    #printmark {
        display: block;
    }
    .notprint {
        display: none;
    }

    body {
        background: #fff;
    }
}
