.sk-default #comments .gt-counts,
.sk-default #comments .gt-user-name,
.sk-default #comments .gt-comments-null,
.sk-default #comments a.is--active {
  color: #2c3e50; }

.sk-default #comments .gt-user-name {
  color: #2c3e50; }

.sk-default #comments .gt-no-init, .sk-default #comments .gt-initing {
  background: #2c3e50;
  color: #fff; }

.sk-default #comments .gt-no-init a {
  color: #fff;
  border-bottom: 1px solid #2c3e50; }

.sk-default #comments .gt-no-init a:hover {
  border-bottom-color: #fff;
  color: #fff; }

.sk-green #comments .gt-counts,
.sk-green #comments .gt-user-name,
.sk-green #comments .gt-comments-null,
.sk-green #comments a.is--active {
  color: #605a56; }

.sk-green #comments .gt-user-name {
  color: #80ac7b; }

.sk-green #comments .gt-no-init, .sk-green #comments .gt-initing {
  background: #80ac7b;
  color: #fff; }

.sk-green #comments .gt-no-init a {
  color: #fff;
  border-bottom: 1px solid #605a56; }

.sk-green #comments .gt-no-init a:hover {
  border-bottom-color: #fff;
  color: #fff; }

.sk-mo #comments .gt-counts,
.sk-mo #comments .gt-user-name,
.sk-mo #comments .gt-comments-null,
.sk-mo #comments a.is--active {
  color: #80ac7b; }

.sk-mo #comments .gt-user-name {
  color: #585756; }

.sk-mo #comments .gt-no-init, .sk-mo #comments .gt-initing {
  background: #585756;
  color: #fff; }

.sk-mo #comments .gt-no-init a {
  color: #fff;
  border-bottom: 1px solid #80ac7b; }

.sk-mo #comments .gt-no-init a:hover {
  border-bottom-color: #fff;
  color: #fff; }

.sk-orange #comments .gt-counts,
.sk-orange #comments .gt-user-name,
.sk-orange #comments .gt-comments-null,
.sk-orange #comments a.is--active {
  color: #2c3e50; }

.sk-orange #comments .gt-user-name {
  color: #ff8364; }

.sk-orange #comments .gt-no-init, .sk-orange #comments .gt-initing {
  background: #ff8364;
  color: #FFF; }

.sk-orange #comments .gt-no-init a {
  color: #FFF;
  border-bottom: 1px solid #2c3e50; }

.sk-orange #comments .gt-no-init a:hover {
  border-bottom-color: #FFF;
  color: #FFF; }

.sk-pink #comments .gt-counts,
.sk-pink #comments .gt-user-name,
.sk-pink #comments .gt-comments-null,
.sk-pink #comments a.is--active {
  color: #333; }

.sk-pink #comments .gt-user-name {
  color: #e7759a; }

.sk-pink #comments .gt-no-init, .sk-pink #comments .gt-initing {
  background: #e7759a;
  color: #f6ec66; }

.sk-pink #comments .gt-no-init a {
  color: #f6ec66;
  border-bottom: 1px solid #333; }

.sk-pink #comments .gt-no-init a:hover {
  border-bottom-color: #f6ec66;
  color: #f6ec66; }

.sk-yellow #comments .gt-counts,
.sk-yellow #comments .gt-user-name,
.sk-yellow #comments .gt-comments-null,
.sk-yellow #comments a.is--active {
  color: #333; }

.sk-yellow #comments .gt-user-name {
  color: #f7de1c; }

.sk-yellow #comments .gt-no-init, .sk-yellow #comments .gt-initing {
  background: #f7de1c;
  color: #333; }

.sk-yellow #comments .gt-no-init a {
  color: #333;
  border-bottom: 1px solid #333; }

.sk-yellow #comments .gt-no-init a:hover {
  border-bottom-color: #333;
  color: #333; }

#comments .markdown-body, #comments .gt-btn {
  font-family: Georgia, "Nimbus Roman No9 L", "Songti SC", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", sans-serif; }

#comments .gt-comment-content a {
  font-family: Courier, "Courier New", monospace; }

#comments .gt-no-init {
  margin-top: 1.5em;
  padding-bottom: 2em; }

#comments .gt-no-init a:hover {
  text-decoration: none; }

#comments .gt-initing {
  margin-top: 1.5em;
  padding-bottom: 2em; }

#comments .markdown-body code {
  color: #000;
  font-family: Courier, "Courier New", monospace; }

#pagination {
  height: 84px; }

#pagination .buttons {
  float: right; }

.sk-default #pagination .or {
  color: #fff; }

.sk-default #pagination .prev.positive, .sk-default #pagination .next.positive {
  background: #2c3e50 !important; }

.sk-default #pagination .button {
  color: #fff; }

.sk-green #pagination .or {
  color: #fff; }

.sk-green #pagination .prev.positive, .sk-green #pagination .next.positive {
  background: #80ac7b !important; }

.sk-green #pagination .button {
  color: #fff; }

.sk-mo #pagination .or {
  color: #fff; }

.sk-mo #pagination .prev.positive, .sk-mo #pagination .next.positive {
  background: #585756 !important; }

.sk-mo #pagination .button {
  color: #fff; }

.sk-orange #pagination .or {
  color: #FFF; }

.sk-orange #pagination .prev.positive, .sk-orange #pagination .next.positive {
  background: #ff8364 !important; }

.sk-orange #pagination .button {
  color: #FFF; }

.sk-pink #pagination .or {
  color: #f6ec66; }

.sk-pink #pagination .prev.positive, .sk-pink #pagination .next.positive {
  background: #e7759a !important; }

.sk-pink #pagination .button {
  color: #f6ec66; }

.sk-yellow #pagination .or {
  color: #333; }

.sk-yellow #pagination .prev.positive, .sk-yellow #pagination .next.positive {
  background: #f7de1c !important; }

.sk-yellow #pagination .button {
  color: #333; }

#pagination .button {
  border-radius: 0 !important; }

#pagination .disabled.button {
  color: #333; }

body {
  margin: 0px;
  width: 100%;
  font-weight: 300;
  overflow: auto; }

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px !important;
  height: 2px !important; }

.code {
  font-family: Courier, "Courier New", monospace; }

.sk-default #topbar,
.sk-default .topwrapper,
.sk-default #triggers-wrapper .buttons .button,
.sk-default #main #sets .set .name:hover {
  background-color: #2c3e50;
  color: #fff; }

#theme .sk-default.skin {
  color: #fff;
  background: #2c3e50;
  border: 1px solid #fff; }

.sk-default #friends-links-wrapper .feed .date,
.sk-default #friends-links-wrapper .feed .summary,
.sk-default #friends-links-wrapper .about-friendly-link a {
  color: #fff !important; }

.sk-default #friends-links-wrapper .about-friendly-link a:hover {
  border-bottom: 1px solid #fff !important; }

.sk-default #triggers-wrapper .buttons .active.button {
  border-top: 1px solid #fff; }

.sk-default .avatar img {
  border: 5px solid #2c3e50; }

.sk-default #search-wrapper input[type=search] {
  border: 1px solid #fff;
  color: #fff; }

.sk-default #main #sets .set .count,
.sk-default #main #sets .set .name {
  color: #2c3e50; }

.sk-default #main #entrys .card .header,
.sk-default .bigtitle {
  color: #2c3e50; }

.sk-default #jinrishici-sentence {
  color: #fff; }

.sk-default .bigtitle:after {
  background: #2c3e50; }

.sk-default #donate .button {
  color: #2c3e50 !important;
  border: 1px solid #2c3e50;
  -webkit-box-shadow: 0 0 0 5px #2c3e50 inset;
  box-shadow: 0 0 0 5px #2c3e50 inset; }

.sk-default #donate .button:hover {
  -webkit-box-shadow: 0 0 0 1px #2c3e50 inset;
  box-shadow: 0 0 0 1px #2c3e50 inset; }

.sk-default #footer {
  background: #2c3e50; }

.sk-green #topbar,
.sk-green .topwrapper,
.sk-green #triggers-wrapper .buttons .button,
.sk-green #main #sets .set .name:hover {
  background-color: #80ac7b;
  color: #fff; }

#theme .sk-green.skin {
  color: #fff;
  background: #80ac7b;
  border: 1px solid #fff; }

.sk-green #friends-links-wrapper .feed .date,
.sk-green #friends-links-wrapper .feed .summary,
.sk-green #friends-links-wrapper .about-friendly-link a {
  color: #fff !important; }

.sk-green #friends-links-wrapper .about-friendly-link a:hover {
  border-bottom: 1px solid #fff !important; }

.sk-green #triggers-wrapper .buttons .active.button {
  border-top: 1px solid #fff; }

.sk-green .avatar img {
  border: 5px solid #80ac7b; }

.sk-green #search-wrapper input[type=search] {
  border: 1px solid #fff;
  color: #fff; }

.sk-green #main #sets .set .count,
.sk-green #main #sets .set .name {
  color: #80ac7b; }

.sk-green #main #entrys .card .header,
.sk-green .bigtitle {
  color: #605a56; }

.sk-green #jinrishici-sentence {
  color: #fff; }

.sk-green .bigtitle:after {
  background: #80ac7b; }

.sk-green #donate .button {
  color: #80ac7b !important;
  border: 1px solid #80ac7b;
  -webkit-box-shadow: 0 0 0 5px #80ac7b inset;
  box-shadow: 0 0 0 5px #80ac7b inset; }

.sk-green #donate .button:hover {
  -webkit-box-shadow: 0 0 0 1px #80ac7b inset;
  box-shadow: 0 0 0 1px #80ac7b inset; }

.sk-green #footer {
  background: #80ac7b; }

.sk-mo #topbar,
.sk-mo .topwrapper,
.sk-mo #triggers-wrapper .buttons .button,
.sk-mo #main #sets .set .name:hover {
  background-color: #585756;
  color: #fff; }

#theme .sk-mo.skin {
  color: #fff;
  background: #585756;
  border: 1px solid #fff; }

.sk-mo #friends-links-wrapper .feed .date,
.sk-mo #friends-links-wrapper .feed .summary,
.sk-mo #friends-links-wrapper .about-friendly-link a {
  color: #fff !important; }

.sk-mo #friends-links-wrapper .about-friendly-link a:hover {
  border-bottom: 1px solid #fff !important; }

.sk-mo #triggers-wrapper .buttons .active.button {
  border-top: 1px solid #fff; }

.sk-mo .avatar img {
  border: 5px solid #585756; }

.sk-mo #search-wrapper input[type=search] {
  border: 1px solid #fff;
  color: #fff; }

.sk-mo #main #sets .set .count,
.sk-mo #main #sets .set .name {
  color: #585756; }

.sk-mo #main #entrys .card .header,
.sk-mo .bigtitle {
  color: #80ac7b; }

.sk-mo #jinrishici-sentence {
  color: #fff; }

.sk-mo .bigtitle:after {
  background: #585756; }

.sk-mo #donate .button {
  color: #585756 !important;
  border: 1px solid #585756;
  -webkit-box-shadow: 0 0 0 5px #585756 inset;
  box-shadow: 0 0 0 5px #585756 inset; }

.sk-mo #donate .button:hover {
  -webkit-box-shadow: 0 0 0 1px #585756 inset;
  box-shadow: 0 0 0 1px #585756 inset; }

.sk-mo #footer {
  background: #585756; }

.sk-orange #topbar,
.sk-orange .topwrapper,
.sk-orange #triggers-wrapper .buttons .button,
.sk-orange #main #sets .set .name:hover {
  background-color: #ff8364;
  color: #FFF; }

#theme .sk-orange.skin {
  color: #FFF;
  background: #ff8364;
  border: 1px solid #FFF; }

.sk-orange #friends-links-wrapper .feed .date,
.sk-orange #friends-links-wrapper .feed .summary,
.sk-orange #friends-links-wrapper .about-friendly-link a {
  color: #FFF !important; }

.sk-orange #friends-links-wrapper .about-friendly-link a:hover {
  border-bottom: 1px solid #FFF !important; }

.sk-orange #triggers-wrapper .buttons .active.button {
  border-top: 1px solid #FFF; }

.sk-orange .avatar img {
  border: 5px solid #ff8364; }

.sk-orange #search-wrapper input[type=search] {
  border: 1px solid #FFF;
  color: #FFF; }

.sk-orange #main #sets .set .count,
.sk-orange #main #sets .set .name {
  color: #ff8364; }

.sk-orange #main #entrys .card .header,
.sk-orange .bigtitle {
  color: #2c3e50; }

.sk-orange #jinrishici-sentence {
  color: #FFF; }

.sk-orange .bigtitle:after {
  background: #ff8364; }

.sk-orange #donate .button {
  color: #ff8364 !important;
  border: 1px solid #ff8364;
  -webkit-box-shadow: 0 0 0 5px #ff8364 inset;
  box-shadow: 0 0 0 5px #ff8364 inset; }

.sk-orange #donate .button:hover {
  -webkit-box-shadow: 0 0 0 1px #ff8364 inset;
  box-shadow: 0 0 0 1px #ff8364 inset; }

.sk-orange #footer {
  background: #ff8364; }

.sk-pink #topbar,
.sk-pink .topwrapper,
.sk-pink #triggers-wrapper .buttons .button,
.sk-pink #main #sets .set .name:hover {
  background-color: #e7759a;
  color: #f6ec66; }

#theme .sk-pink.skin {
  color: #f6ec66;
  background: #e7759a;
  border: 1px solid #f6ec66; }

.sk-pink #friends-links-wrapper .feed .date,
.sk-pink #friends-links-wrapper .feed .summary,
.sk-pink #friends-links-wrapper .about-friendly-link a {
  color: #f6ec66 !important; }

.sk-pink #friends-links-wrapper .about-friendly-link a:hover {
  border-bottom: 1px solid #f6ec66 !important; }

.sk-pink #triggers-wrapper .buttons .active.button {
  border-top: 1px solid #f6ec66; }

.sk-pink .avatar img {
  border: 5px solid #e7759a; }

.sk-pink #search-wrapper input[type=search] {
  border: 1px solid #f6ec66;
  color: #f6ec66; }

.sk-pink #main #sets .set .count,
.sk-pink #main #sets .set .name {
  color: #e7759a; }

.sk-pink #main #entrys .card .header,
.sk-pink .bigtitle {
  color: #333; }

.sk-pink #jinrishici-sentence {
  color: #f6ec66; }

.sk-pink .bigtitle:after {
  background: #e7759a; }

.sk-pink #donate .button {
  color: #e7759a !important;
  border: 1px solid #e7759a;
  -webkit-box-shadow: 0 0 0 5px #e7759a inset;
  box-shadow: 0 0 0 5px #e7759a inset; }

.sk-pink #donate .button:hover {
  -webkit-box-shadow: 0 0 0 1px #e7759a inset;
  box-shadow: 0 0 0 1px #e7759a inset; }

.sk-pink #footer {
  background: #e7759a; }

.sk-yellow #topbar,
.sk-yellow .topwrapper,
.sk-yellow #triggers-wrapper .buttons .button,
.sk-yellow #main #sets .set .name:hover {
  background-color: #f7de1c;
  color: #333; }

#theme .sk-yellow.skin {
  color: #333;
  background: #f7de1c;
  border: 1px solid #333; }

.sk-yellow #friends-links-wrapper .feed .date,
.sk-yellow #friends-links-wrapper .feed .summary,
.sk-yellow #friends-links-wrapper .about-friendly-link a {
  color: #333 !important; }

.sk-yellow #friends-links-wrapper .about-friendly-link a:hover {
  border-bottom: 1px solid #333 !important; }

.sk-yellow #triggers-wrapper .buttons .active.button {
  border-top: 1px solid #333; }

.sk-yellow .avatar img {
  border: 5px solid #f7de1c; }

.sk-yellow #search-wrapper input[type=search] {
  border: 1px solid #333;
  color: #333; }

.sk-yellow #main #sets .set .count,
.sk-yellow #main #sets .set .name {
  color: #f7de1c; }

.sk-yellow #main #entrys .card .header,
.sk-yellow .bigtitle {
  color: #333; }

.sk-yellow #jinrishici-sentence {
  color: #333; }

.sk-yellow .bigtitle:after {
  background: #f7de1c; }

.sk-yellow #donate .button {
  color: #f7de1c !important;
  border: 1px solid #f7de1c;
  -webkit-box-shadow: 0 0 0 5px #f7de1c inset;
  box-shadow: 0 0 0 5px #f7de1c inset; }

.sk-yellow #donate .button:hover {
  -webkit-box-shadow: 0 0 0 1px #f7de1c inset;
  box-shadow: 0 0 0 1px #f7de1c inset; }

.sk-yellow #footer {
  background: #f7de1c; }

#theme .skin {
  padding: 1em 1.3em;
  font-size: 1.375rem;
  display: inline-block;
  margin: 1em;
  cursor: pointer;
  font-weight: 800; }

#theme {
  text-align: center;
  margin-top: 1.5em; }

#site-wrapper .container .list .item .content {
  color: #fff; }

#donation-wrapper .buttons .button {
  width: 120px;
  border-radius: 0 !important; }

#donation-wrapper .description {
  margin-top: 30px;
  margin-bottom: 30px; }

#donation-wrapper #wechat.active {
  background-color: #44b549; }

#donation-wrapper #alipay.active {
  background-color: #059AE3; }

#donation-wrapper #donation-qrcode img {
  max-width: 300px;
  margin: 20px auto; }

#social-links-wrapper {
  text-align: center; }

#social-links-wrapper #friendly-links {
  width: 60%;
  text-align: left; }

#friends-links-wrapper .feed:hover {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.8); }

#friends-links-wrapper .feed .label {
  width: 3.5em; }

#friends-links-wrapper .feed .date {
  font-size: 1.2em;
  opacity: .45; }

#friends-links-wrapper .feed .summary {
  font-weight: 300;
  line-height: 1.8em;
  font-size: 1.375rem; }

#friends-links-wrapper .about-friendly-link {
  margin-top: 1.5em;
  font-weight: 300;
  line-height: 1.8em;
  font-size: 1.315rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.03);
  padding: .6em 1em; }

#friends-links-wrapper .about-friendly-link a {
  opacity: .45; }

#friends-links-wrapper .about-friendly-link a:hover {
  opacity: 1; }

#social-links-wrapper #wx {
  text-align: center; }

#social-links-wrapper #wx img {
  margin-top: 20px;
  height: 240px; }

#triggers-wrapper {
  text-align: center; }

#triggers-wrapper .buttons .button {
  border-radius: 0 !important;
  padding-left: 20px !important;
  padding-right: 20px !important; }

.avatar {
  text-align: center; }

.avatar img {
  height: 120px;
  width: 120px;
  border-radius: 50%; }

#search-wrapper #search {
  text-align: center;
  padding: 1em; }

#search-wrapper input[type=search] {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.375rem;
  font-style: italic;
  font-weight: 400;
  padding: .8em 1em;
  width: 100%; }

#main {
  background: #fff;
  padding-top: 50px; }

#main .me {
  text-align: center; }

#main .me .name {
  font-size: 1.8em;
  padding: 0.8em;
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 3px; }

#main .me .sign {
  color: #999; }

#main .top.menu {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -16px;
  border-top: 1px solid #f3f3f4;
  border-bottom: 1px solid #f3f3f4;
  padding: .6em;
  text-align: center; }

#main #sets .set {
  border: 1px solid #eee;
  margin-bottom: 4em; }

#main #sets .set .count {
  font-size: 1.325rem;
  font-weight: 700;
  padding: 1em; }

#main #sets .set .count:hover {
  font-weight: 700; }

#main #sets .set .name {
  float: right;
  padding: 1em;
  font-weight: 700;
  background: #fff;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: -1px;
  margin-right: -1px;
  display: inline-block; }

#main #sets .list {
  margin-bottom: 4em; }

#main #sets .list .item {
  border-radius: 0; }

#main #sets .list .item .header {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.8rem; }

#main #entrys .list .item {
  padding-top: 3em !important;
  padding-bottom: 2.5em !important;
  border-radius: 0 !important; }

#main #entrys .list a {
  text-decoration: none; }

#main #entrys .list > .item:first-child {
  border-top: 0px; }

#main #entrys .card .header {
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
  padding-bottom: .4em; }

#main #entrys .card .date {
  font-size: 1.250em;
  color: #aaa;
  float: right;
  font-weight: 300; }

#main #entrys .card .image.cover {
  border-radius: 0 !important;
  height: 20rem;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-color: #DAAF2B;
  border-radius: .3rem;
  background-image: url(/user/images/shortcut.svg);
  box-shadow: 0 0 1px grey; }

#topbar {
  height: 5px;
  width: 100%; }

#donate .button {
  border-radius: 0; }

#donate .button .icon {
  margin-right: 0; }

#printmark {
  text-align: center;
  display: none; }

#footer {
  padding: 2em 0em;
  letter-spacing: 2px;
  text-align: center; }

#end {
  padding: 2em;
  text-align: center;
  background: #fff;
  letter-spacing: 2px; }

#footer b {
  color: #fff !important; }

.bigtitle:after {
  content: "";
  width: 4rem;
  height: 2px;
  display: block;
  margin-top: 1.5rem; }

#jinrishici-sentence {
  font-size: 1.125rem;
  font-weight: 700; }

#jinrishici-tag {
  position: absolute;
  font-size: 98px;
  font-weight: 800;
  opacity: 0.1;
  text-align: center;
  width: 100%;
  right: 0;
  left: 0;
  text-shadow: 2px 0px #333; }

@media only screen and (min-width: 1200px) {
  .topwrapper .ui.container {
    width: 50%; }

  #content {
    width: 50%; }

  #main #entrys {
    width: 48%; }

  #main #sets {
    width: 45%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .topwrapper .ui.container {
    width: 70%; }

  #main #myavatar {
    display: none; }

  #main #entrys .card .date {
    font-size: .9250em; }

  #main #entrys .card .header {
    font-size: 20px;
    line-height: 28px; }

  #main #entrys .card .image.cover {
    max-height: 300px; } }
@media only screen and (max-width: 767px) {
  #site-wrapper .container {
    width: 100%; }

  #main #myavatar {
    display: none; }

  #main #entrys .card .date {
    font-size: .9250em; }

  #main #entrys .card .header {
    font-size: 20px;
    line-height: 28px; }

  #main #entrys .card .image.cover {
    max-height: 300px; }

  #friends-links-wrapper .feed .summary {
    font-size: 1.2em; }

  #friends-links-wrapper .feed .date {
    font-size: 1em; } }
@media print {
  #main {
    padding: 1em; }

  #entryMain {
    padding-top: 2em; }

  #content, #main #entrys {
    width: 100%; }

  #site-wrapper {
    display: none; }

  #triggers-wrapper {
    display: none; }

  #main .menu {
    display: none; }

  #topbar, #donate, #comments, #more-words {
    display: none; }

  #printmark {
    display: block; }

  .notprint {
    display: none; }

  body {
    background: #fff; } }

/*# sourceMappingURL=index.css.map */
