@import 'globals.scss';


@each $skin, $config in $skins {
    .#{$skin} #article .img-title,
    .#{$skin} #article .lang-label,
    .#{$skin} #more-words:hover,
    .#{$skin} #content .sets .set,
    .#{$skin} #article .title-label:not(.empty):before
    {
        color: skbg($config);
    }    

    .#{$skin} #content .sets .set {
        border-right: 3px solid skbgc($config);
    }

    .#{$skin} #content .sets .set:hover {
        background: skbg($config);
        color: skbgc($config);
        border: 5px solid skbgc($config);
    }

    

    .#{$skin} #article .hassubimage.border {
        border: 1px solid skbg($config);
    }

    .#{$skin} #article h1:after, 
    .#{$skin} #article h2:after,
    .#{$skin} #article h3:after,
    .#{$skin} #article h4:after,
    .#{$skin} #article h5:after,
    .#{$skin} #article hr,
    .#{$skin} #article .ads,
    .#{$skin} #article .lang-label:hover
    {
        background-color: skbg($config);
    }

    .#{$skin} #article .lang-label:hover {
         color: skbgc($config)
    }

    

}

#article {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  letter-spacing: 2px;
  font-size: 1.315rem;
  font-weight: 300;
  line-height: 1.8em;
  color: #333;
  }

#article .ads {
    background-image: url(/assets/images/adbg.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#article .post-date {
    color: #A6ACAF;
}

#article a {
  color: #1abc9c;
  border-bottom: 1px solid #1abc9c; }


#article a:hover {
  border-bottom-color: #555;
  color: #555;
  text-decoration: none; }

#article p {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.375em;
  margin-bottom: 1.375em;
  line-height: 1.8em;
  overflow-x: hidden; }

.img-title {
  margin-top: -1.375em !important;
  text-align: center;
  font-style: oblique; }

.img-title .symbol {
  font-weight: 400!important;
  padding-right: .2em;
  color: #2c3e50; }

#article .hassubimage {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

#article .hassubimage.radius img {
    border-radius: 10px;}

#article h1, #article h2, #article h3, #article h4, #article h5, #article h6 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 300!important;
  line-height: 1.8em; }


#article h1:after, #article h2:after, #article h3:after, #article h4:after, #article h5:after {
    content: "";
    width: 4rem;
    height: 1px;
    display: block;
    margin-top: .8em;
}

#article h1 {
  font-size: 2.250em; }

#article h2 {
  font-size: 1.313em; }

#article h3 {
  font-size: 1em; }

#article h4 {
  font-size: 0.875em; }

#article h5 {
  font-size: 0.8em; }

#article hr {
    height: 2px;
    border: 0;
    width: 8em;
    clear: both;
    margin: 2rem auto;
}

ul {
  margin-left: auto;
  margin-right: auto; }

ol {
  margin-left: auto;
  margin-right: auto;
  list-style-type: decimal;
  type: "1"; }

#article a:hover {
  border-bottom: 0.063em solid #e33; }

#more-words {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #fff;
  padding: 2em 0 2em 0; }

#more-words {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.315em;
  color: #ddd;
  letter-spacing: -2;
  font-weight: 400;
  padding: 0.250em;
  text-align: center; }

.code-wrapper {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  padding-bottom: 1.5em;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  font-family: $code; }

.code-wrapper pre {
    font-family: $code;
}

#article .flag {
    background: #fff;
    height: 1em;
    width: 1em;
    float: left;
    margin-left: 1px;
    margin-top: 1px;
}

#article .flag.warning {
    background: #fef9e7;
}

#article .flag.error {
    background: #fadbd8; 
}

#article .title-label {
    display: inline-block;
    padding: 0.6em 1em;
    font-size: 0.875em;
    line-height: 1em;
    border-bottom: 0;
    font-weight: 500;
    color: #839192;
    font-style: oblique;
}

#article .title-label:not(.empty):before {
    content: "•";
    font-weight: 700;
    opacity: 0.3;
    padding-right: .5em;
}

#article .lang-label {
  display: inline-block;
  float: right;
  background: #fff;
  padding: 0.6em 1em;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: 1em;
  margin-top: -1px;
  margin-right: -1px;
  z-index: 50;
}

#article .lang-label:hover {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  }

#article .highlight {
  margin: 0;
  font-size: 0.875em;
  color: #333;
  letter-spacing: 0px;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  padding-top: 0em; }

#article .highlight pre {
  width: 100%;
  margin: 0 0;
  overflow-x: hidden;
  white-space: pre-wrap;
  display: block; }

#article code {
  font-family: $code;
  background: #f9f8eb;
  color: #333;
  font-weight: 600;
  letter-spacing: 0px;
  border-radius: 3px;
  font-size: 1.215rem;
  padding: 0.1em 0.45em;
  border: 0.063em solid #ece4e4; }

#article p code {
  font-size: 0.9em;
  overflow: auto;
  margin: 0 0.4em;
   }

#article li a code {
  font-size: 0.865em; }

#article strong, b {
  font-weight: 400!important;}

#article blockquote strong, b {
  font-weight: 600!important;
  color: #333;
}

#article blockquote {
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  margin-top: 1.35em;
  margin-bottom: 1.35em;
  background: #fafafd;
  border-left: 3px solid #5BBD72; }

#article blockquote p {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 1em;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1.3em;
  color: #888; }

#article .blockquote-center p {
  text-align: center;
  line-height: 3em!important; }

#article .blockquote-center strong {
  font-size: 1.313em; }

#article .blockquote-center strong:hover::before {
  content: "《";
  color: #5BBD72; }

#article .blockquote-center strong:hover::after {
  content: "》";
  color: #5BBD72; }

#article .blockquote-center {
  border-left: 0; }

#article .blockquote-warning {
  background: #fef9e7;
  border-left: 3px solid #F2C61F; }

#article .blockquote-error {
  background: #fadbd8;
  border-left: 3px solid #D95C5C; }

#comments {
  margin-left: auto;
  margin-right: auto;}

.table-wrapper {
  font-family: $code, $font;
  margin-top: 1.350em;
  margin-bottom: 1em;
  margin-left: auto !important;
  margin-right: auto !important; }


.table-wrapper thead th {
  font-weight: 300!important;
  hyphens: auto;
}

#content .sets {
   height: 70px; 
}

#content .sets .set {
    font-size: 1.375rem;
    line-height: 1.8em;
    font-style: oblique;
    font-weight: 400px;
    padding: 0px 7px;
    margin: 5px 0px;
    background: #fff;
    margin-left: .5em;
}

#content .sets .set:hover {
    padding: 0px 5px;
    margin: 0px 0px;
}

@media only screen and (max-width: 767px) {
    #comments {
        margin-left: auto;
        margin-right: auto; }

    pre {
        overflow-x: hidden; }

    .highlight {
        padding: 1em;
        padding-top: 2em; }

    blockquote p {
        overflow: auto; }

    #header {
        position: absolute; }

    #article {
        font-size: 16px;
        letter-spacing: 2px;
    }
}

#article img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }

#article .block {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1.350em;
    margin-bottom: 1em;
    border: 1px solid #2c3e50; }

#article .github-widget {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1.350em;
    margin-bottom: 1em; }

#article .gist {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1.350em;
    margin-bottom: 1em; }

.gist .blob-code-inner {
    font-family: $code }

#article .block img {
    border: 0 !important; }

#article .table-wrapper table {
    border-radius: 0!important;
}

