body {
    margin: 0px;
    font-family: "Source Sans Pro", "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    width: 100%;
    overflow: auto;
}

body a {
    text-decoration: none;
    color: #44b549;
}

.code {
    font-family: Courier, 'Courier New', monospace;
}

.topwrapper {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
}

#site-wrapper .container {
    width: 50%;
}

#site-wrapper .container .list .item .content {
    color: #fff;
}

#donation-wrapper .buttons .button {
    width: 120px;
    border-radius: 0!important;
}

#donation-wrapper .description {
    margin-top: 30px;
    margin-bottom: 30px;
}

#donation-wrapper #wechat.active {
    background-color: #44b549;
}

#donation-wrapper #alipay.active {
    background-color: #059AE3;
}

#donation-wrapper #donation-qrcode img {
    max-width: 300px;
    margin: 20px auto;
}

#social-links-wrapper {
    text-align: center;
}

#social-links-wrapper #friendly-links {
    width: 60%;
    text-align: left;
}

#social-links-wrapper #wx {
    text-align: center;
}

#social-links-wrapper #wx img {
    margin-top: 20px;
    height: 240px;
}

#cats-wrapper {
    text-align: center;
}

#cats-wrapper .container {
    width: 60%;
}

#cats-wrapper table {
    color: #fff!important;
    width: 100%;
}

#cats-wrapper table img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 15px solid #D5F5E3;
}

#cats-wrapper .name {
    padding-top: 1em;
    font-size: 14px;
    font-weight: both;
}


#cats-wrapper .time {
    color: #999;
    font-size: 14px;
}


#triggers-wrapper {
    text-align: center; 
}

#triggers-wrapper .buttons .button {
    border-radius: 0!important;
    background-color: #2c3e50!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
}

#triggers-wrapper .buttons .active.button {
    border-top: 1px solid #21ba45;
}

.cat-icon {
    display: inline-block;
    padding-right: 5px;
    vertical-align: -2px;
    width: 16px;
    height: 16px;
    background: url(/assets/3rd/cat.png) no-repeat;
}

.avatar {
    text-align: center;
}

.avatar img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 5px solid #2c3e50;
}

#search-wrapper {
    text-align: center;
}

#search-wrapper input[type=search] {
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    color: #fff;
    font-style: italic;
    font-size: 15px;
    padding: 7px 3px 8px 7px;
    width: 50%;
}

#main {
    padding-top: 50px;
    padding-bottom: 50px;
}

#main .me {
    text-align: center;
}

#main .me .name {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2c3e50;
    font-weight: 800;
    font-family: "Source Sans Pro", "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    line-height: 1.35;
}

#main .me .sign {
    color: #999;
    font-size: 14px;
}

#main .menu {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -16px; 
    border-top: 1px solid #f3f3f4;
    border-bottom: 1px solid #f3f3f4;
    padding: .6em;
    text-align: center;
}

#main #entrys {
    width: 50%;
}

#main #entrys .list .item {
    padding-top: 3em!important;
    padding-bottom: 2.5em!important;
    border-radius: 0!important;
}

#main #entrys .list a {
    text-decoration: none;
}

#main #entrys .list>.item:first-child {
    border-top: 0px;
}

#main #entrys .card .header {
    color: #2c3e50;
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    padding-bottom: .4em;
}

#main #entrys .card  .date {
    font-size: 1.250em;
    font-family: "Montserrat";
    color: #aaa;
    float: right;
    font-weight: 300;
}

#main #entrys .card .image.cover {
    border-radius: 0!important;
    overflow: hidden;
    max-height: 600px;
    height: auto;
}

#topbar {
    background-color: #2c3e50;
    height: 5px;
    width: 100%;
}

#content {
    width: 50%;
}

#donate .button {
    border-radius: 0;
}

#donate .button .icon {
    margin-right: 0;
}

.text.white {
  color: #FFFFFF;
}
.text.grey {
  color: #CCCCCC;
}
.text.black {
  color: #1B1C1D;
}
.text.yellow {
  color: #F2C61F;
}
.text.teal {
  color: #00B5AD;
}
.text.red {
  color: #D95C5C;
}
.text.purple {
  color: #564F8A;
}
.text.pink {
  color: #D9499A;
}
.text.orange {
  color: #E07B53;
}
.text.green {
  color: #5BBD72;
}
.text.blue {
  color: #3B83C0;
}

#printmark {
    text-align: center;
    display: none;
}

#comments span, #comments a, #comments p {
    font: 300 1em/1.8 PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans!important;
    hyphens: auto;
}

#comments .gt-counts, #comments .gt-user-name, #comments .gt-comments-null, #comments .gt-action-text {
    color: #373737;
}

#comments .gt-user-name {
    color: #5BBD72;
}

#comments .gt-no-init {
    margin-top: 1.5em;
    background: #2c3e50;
    color: #fff!important;
    padding-bottom: 2em;
}

#comments .gt-no-init a {
    color: #1abc9c;
    border-bottom: 1px solid #1abc9c;
}

#comments .gt-no-init a:hover {
  border-bottom-color: #fff;
  color: #fff;
  text-decoration: none; 
}

#comments .gt-initing {
    margin-top: 1.5em;
    background: #2c3e50;
    color: #fff!important;
    padding-bottom: 2em;
}

@media only screen and (max-width: 767px) {
    #search-wrapper input[type=search] {
        width: 100%;
    }

    #main #entrys {
        width: 100%;
    }

    #site-wrapper .container {
        width: 100%;
    }

    #cats-wrapper table img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px solid #D5F5E3;
    }

    #main #myavatar {
        display: none;
    }

    #main #entrys .card  .date {
        font-size: .9250em;
    }

    #main #entrys .card .header {
        font-size: 20px;
        line-height: 20px;
    }

    #main #entrys .card .image.cover {
        max-height: 300px;
    } 
}

@media print {
    #main {
        padding: 1em;
    }
    #entryMain {
        padding-top: 2em;
    }

    #content, #main #entrys {
        width: 100%;
    }

    #site-wrapper {
        display: none;
    }

    #triggers-wrapper {
        display: none;
    }

    #main .menu {
        display: none;
    }
    
    #topbar, #donate, #comments, #footer {
        display: none;
    }

    #printmark {
        display: block;
    }
}
