{% extends "base.html" %}
{% block title %} I'm JackeyGao {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/word.css">
<link rel="stylesheet" href="/static/highlight.css">
<link rel="stylesheet" href="/static/3rd/gitalk.css">

<style>
.hover-image img {
    position: fixed;
    top: -2000px;
    right: -2000px;
}
#me .grid {
    display: flex;
    width: 100%:
}

#me .item {
    width: 33.3333%;
    padding: 8px;
    text-align: center;
}


</style>
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        {{ content }}
        {% if links %}
        <div id="refererWrapper">
            <h2 class="referers">引用</h2>
            {% for link in links %}
            <div class="link">
            {% if links|length >= 10 %}
            <code class="index">[{{ '%02d' | format(loop.index) }}]</code> {{ link[2] }}: <span class="href">{{ link[1] }}</span>
            {% else %}
            <code class="index">[{{ '%d' | format(loop.index) }}]</code> {{ link[2] }}: <span class="href">{{ link[1] }}</span>
            {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <hr>
    <div class="controls">
      <div id="commentButton" class="trigger-comment" style="width: 70px;" onclick="gitalk.render('comments');">𝔔 留言</div>
    </div>

    <div id="comments"></div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script src="/static/3rd/gitalk.min.js"></script>
<script>
  const gitalk = new Gitalk({
      clientID: '177af99888a292531873',
      clientSecret: '7c0927c7cdf0d94eed7dad0b238552c10ec6f53c',
      repo: 'JackeyGao.github.io',
      owner: 'jackeyGao',
      admin: ['jackeyGao'],
      id: 'about',      // Ensure uniqueness and length less than 50
      distractionFreeMode: false,  // Facebook-like distraction free mode
      labels: ['gitment'],
      pagerDirection: "last",
      proxy: "https://jgcors.herokuapp.com/https://github.com/login/oauth/access_token"
  })
  
  if (window.qd.hasOwnProperty('code')) {
      document.getElementById('commentButton').scrollIntoView();
      gitalk.render('comments');
  }
  // gitalk.render('comments')
  
</script>
{% endblock %}
