{% extends "base.html" %}
{% block title %} I'm JackeyGao {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/semantic/components/grid.min.css">
    <link rel="stylesheet" href="/assets/css/words.css">
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1 class="bigtitle">我是Jackey</h1>

        <div class="ui equal width grid">
            <div class="column">
                <p>目前工作在<a target="blank" href="http://teambition.com/">Teambition</a>, 做运维自动化工作</p>
                        
                <p>生活在上海. </p>

                <p>关注我在<a target="blank" href="http://github.com/jackeygao" target="blank"><i class="grey github icon"></i>Github</a>上的动态.</p>
                <p>关注我的订阅号<a href="#social-links-wrapper" onclick="toggleById(wrappers, 'social-links-wrapper'); document.getElementById('wx').style.display = 'block';">JackeyGao</a>, 会分享一些运维开发技术和一些心得.</p>
                <p>简书<a target="blank" href="http://www.jianshu.com/c/aa0b21cceb92" target="blank">Python 运维</a>专题创建者和维护者.</p>

                <p><a target="blank" href="http://github.com/chinese-poetry">中文诗歌数据库</a>(<a target="blank" href="https://shici.store">中文诗歌主页</a>)创建者和维护者</p>

            </div>
            <div id="myavatar" class="four wide column">
                <img src="assets/images/me.png" style="width: 100%;"></p>
            </div>
        </div>

        <p class="hassubimage"><img src="assets/images/programming.jpg"></p>
        <p class="img-title"><span class="symbol">#</span>我的工作台</p>

        <div style="height: 90px; width: 100%;">
            <h1 style="float: left;">Programming</h1>
        </div>
        <p>技术栈有<a target="blank" href="https://www.djangoproject.com/">Django</a>、<a target="blank" href="http://docs.peewee-orm.com/">peewee</a>、<a target="blank" href="https://www.ansible.com/">Ansible</a>、<a target="blank" href="http://www.django-rest-framework.org/">django rest framework</a>、<a target="blank" href="http://www.celeryproject.org/">Celery</a>、<a target="blank" href="https://cn.vuejs.org/">Vue.js</a>、<a target="blank" href="http://semantic-ui.com/">Semantic UI</a>等, 但不仅限于此.</p>
                
        <p>有强烈的代码洁癖和需求洁癖.</p>

        <hr>

        <p>做了很多关于自动化运维的项目。 有发布系统，部署系统， 监控系统， 以及运维管理平台。 监控平台的统一，自动化平台的统一项目。这里是我做的<a href="/words/my-projects.html">项目列表</a>.</p>

        <p>使用的编辑器为<a target="blank" href="http://www.vim.org/">Vim</a>和<a target="blank" href="https://www.sublimetext.com/">Sublime Text</a>, 最近没有那么任性了，  尝试使用<a target="blank" href="https://code.visualstudio.com/">VSCode</a>.</p>

        <p>我写了一些关于技术的文章，在<a href="/#entrys">我的博客</a></p>


        <div style="height: 90px; width: 100%;">
            <h1 style="float: left;">Living</h1>
        </div>

        <p><S>我养了一只猫.  但是让它跑丢了</S></p>

        <p>喜欢喝啤酒, 最近爱上精酿。 并且有打算以后自酿啤酒.</p>

        <p>听音乐. 尬聊. 纯种双子男. 养猪小能手. 热心群众.</p>

        <p>喜欢古诗词. 苏东坡</p>

        <p>保持谦虚， 做个简单的人.</p>

        <p class="code"><__main__.Geek instance at 0x100423f80></p>
    </div>
    <div id="more-words">
        <a href="/#entrys"><div id="more-words">更多日志</div></a>
    </div>
</div>
{% endblock %}

