{% extends "base.html" %}
{% block title %} 打赏JackeyGao {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/words.css">
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1><i class="thumbs up outline green icon"></i>支持JackeyGao</h1>
        <p>求鼓励 σ`∀´)σ</p>

        <div id="donation-qrcode" class="ui grid">
            <div class="left floated five wide column" style="padding: 0;">
                <img src="/assets/images/wechat.png" style="border: 1px solid #eee;"/>
            </div>

            <div class="right floated five wide column" style="padding: 0;">
                <img src="/assets/images/alipay.png"/ style="border: 1px solid #eee;">
            </div>
        </div>

        <p>感谢你的认同和鼓励.</p>
    </div>
    <div id="more-words">
        <a href="/#entrys"><div id="more-words">更多日志</div></a>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

