{% extends "base.html" %}
{% block title %} 打赏JackeyGao {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/words.css">
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1>打赏</h1>
        <p>我在互联网上开源了很多项目， 尽管大多出于个人兴趣。 如果很幸运的对您有了帮助，如有可能请随意打赏我一点小费， 您的支持能非常大的激励我贡献和创作。感谢!</p>
        <p>可以添加我的微信<b>gaojunqi26</b>, 我很喜欢解答各种技术问题(实现思路， debug思路等), 人生苦短, 生活又总是那么艰难, 理论上直接让我写出代码的除外.</p>
    </div>
    <div id="more-words">
        <a href="/#entrys"><div id="more-words">MORE WORDS</div></a>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script>
    window.onload = function () {
        useWechat()
        toggleById(wrappers, 'donation-wrapper')
    }
    </script>
{% endblock %}

