{% extends "base.html" %}
{% block title %} 打赏JackeyGao {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/words.css">

    <style>
    #donation-qrcode {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;;
        align-items: center;
    }

    #donation-qrcode img {
        width: 280px;
    }
    </style>
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1><i class="thumbs up outline green icon"></i>支持JackeyGao</h1>
        <p>求鼓励 σ`∀´)σ</p>
        <p>扫码进行捐赠。很高兴接受您任何金额的捐赠，用于各项目运营和持续更新，以及为写作者提供动力。</p>
        <p>如果您不喜欢通过赞赏的方式进行捐赠， 可以加我微信: <b>gaojunqi26</b></p>
        <p>如果您愿意，通过加微信的方式， 可以告知我网名(链接)， 更新到下面捐赠者列表。</p>

        <div id="donation-qrcode" >
            <img src="/assets/images/wechat.png" style="border: 1px solid #eee;"/>
            <img src="/assets/images/alipay.png"/ style="border: 1px solid #eee;">
        </div>

        <p>感谢您的认同和鼓励.</p>
        <p>捐赠并不能让您获得额外的内容，但能成为我继续更新的动力. 这或许也会令您愉快.</p>


        <h2>捐赠者列表</h2>

        <p class="post-date">最后更新 2019.01.17</p>

        <ul>
            <li>百下king</li>
        </ul>
    </div>
    <div id="more-words">
        <a href="/#entrys"><div id="more-words">更多日志</div></a>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

