{% extends "base.html" %}

{% block title %}链接{% endblock %}

{% block head %}
<style>

#linksWrapper .item {
  padding: 10px 16px;
  border-radius: 3px;
  display: inline-flex;
  height: 30px;
  align-items: center;
  letter-spacing: 0px;
}

#linksWrapper .friend {
  min-width: 250px;
}

#linksWrapper .request {
  display: flex!important;
  background: #f3f3f4;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

#linksWrapper .request a {
  color: #1abc9c;
}

#linksWrapper .item:hover {
  background: #f3f3f4;
  color: #1abc9c;
}

#linksWrapper img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}
</style>
{% endblock %}

{% block content %}
<div id="linksWrapper">
  <h3 class="site-header">友情链接</h3>
  {% for friend in friends %}
  <a href="{{ friend.link }}" class="friend item" target="_blank" rel="noopener noreferrer">
    <img src="{{ friend.image }}">{{ friend.name }}
  </a>
  {% endfor %}

  <h3 class="site-header">网站/工具</h3>
  <div>
      <a class="item" target="_blank" rel="noopener noreferrer"  href="https://shici.store">
        中文诗歌
      </a>
      <a class="item" target="_blank" rel="noopener noreferrer" href="https://shici.store/poetry-calendar/">
        诗词日历
      </a>
      <a class="item" target="_blank" rel="noopener noreferrer" href="http://jp2a.herokuapp.com/">
        J2a
      </a>
      <a class="item" target="_blank" rel="noopener noreferrer" href="http://request-meta.herokuapp.com/">
        Request Meta
      </a>
  </div>

  <div class="request item" >
    <a href="/r/words/links.html">交换友情链接 ✿</a>
  </div>
</div>
{% endblock %}
