{% extends "base.html" %}

{% block title %} 专题 {% endblock %}

{% block head %}
<style>
.set ul li {
  font-size: 90%;
  padding: 5px 10px;
  border-radius: 3px;
}

.set ul li:hover {
  background: #f3f3f4;
}

.set ul {
  padding-left: 0;
  list-style: none;
}

.set .meta {
  padding-left: 16px;
  letter-spacing: 0px;
  color: #919191;
}

@media only screen and (max-width: 800px) {
  .set ul {
    padding: 0px;
  }
}
</style>
{% endblock %}

{% block content %}
<div>
  {% for set_name, words in sets.items() %}
      <div id="{{set_name}}" class="set">
          <h4 href="#{{set_name}}" class="site-header">{{ set_name }}</h4>
          <ul>
              {% for word in words %}
              <li>
                <a style="border-bottom: 0; color: #404040;" href="/r/words/{{word.filename}}.html" class="item">{{ word.title.replace( set_name, '') }}</a>
                <span class="meta">{{ word.date.strftime('%b %d, %Y') }}</span>
              </li>
              {% endfor %}
          </ul>
      </div>
  {% endfor %}
</div>
{% endblock %}
