{% extends "base.html" %}
{% block title %}我的推特{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/words.css">
    <link rel="stylesheet" href="/assets/monokai.css">
    <link rel="stylesheet" href="/assets/3rd/gitment.css">
    <link rel="stylesheet" href="/assets/semantic/components/table.min.css">
    <style>
    #article .timeline-Header-title {
        font-size: 2.250em;
        margin-left: auto;
        margin-right: auto;
        font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
        font-weight: 100;
        color: #000;
        line-height: 1.35; 
    }

    #article #twitter-error {
        text-align: center;
        padding-top: 3em;
        padding-bottom: 3em;
        background: rgba(241, 148, 138, 0.63);
    }
    #article .btn {
        position: relative;
        height: 20px;
        box-sizing: border-box;
        padding: 1px 8px 1px 6px;
        background-color: #1b95e0;
        color: #fff;
        border-radius: 3px;
        font-weight: 500;
        cursor: pointer;
        font-size: 12px;
    }
        #article .btn .label {
        margin-left: 3px;
        white-space: nowrap;
        vertical-align: top;
        zoom: 1;
    }
        #article .btn .label b {
        font-weight: 500;
        white-space: nowrap;
        color: #fff;
    }
    </style>
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1>我的推特</h1>
        <a class="twitter-timeline" data-lang="en" data-theme="light" href="https://twitter.com/JackeyGaoo?ref_src=twsrc%5Etfw">
            <div id="twitter-error" class="ui message">
                <div style="padding-top: 1.5em;padding-bottom: 1.5em;">
                    <a id="follow-button" class="btn" title="Follow @JackeyGaoo on Twitter" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fpublish.twitter.com%2F%3FbuttonType%3DFollowButton%26query%3Dhttps%253A%252F%252Ftwitter.com%252FJackeyGaoo%26widget%3DButton&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=JackeyGaoo&amp;tw_p=followbutton"><i class="twitter icon"></i><span class="label" id="l">Follow <b>@JackeyGaoo</b></span></a>
                </div>
                <span style="color: #fff;">:( 您是GFW受益者.</span>
            </div>
        </a>

    </div>
    <div id="printmark">
        <div class="code" style="padding: 1em;">
            <span class="blue text"></span><a href="https://jackeygao.io">jackeygao.io</a>
        </div>
        <i class="red heart icon"></i>
    </div>
    <div id="footer">
        <a href="/#entrys"><div id="more-words">MORE WORDS</div></a>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script async defer  src="/assets/3rd/widgets.js" charset="utf-8"></script>
{% endblock %}
