{% extends "base.html" %}
{% block title %}我的推特{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/css/words.css">
    <link rel="stylesheet" href="/assets/monokai.css">
    <link rel="stylesheet" href="/assets/semantic/components/table.min.css">
    <style>
    #article .timeline-Header-title {
        font-size: 2.250em;
        margin-left: auto;
        margin-right: auto;
        font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
        font-weight: 100;
        color: #000;
        line-height: 1.35; 
    }

    #article #twitter-wrapper {
        width: 100%;
        text-align: center;
        border: 1px solid var(--main-bg);
        background: var(--main-bg);
    }

    #article #twitter-wrapper .embed {
        padding-top: 0.5em;
        padding-bottom: 1em;
        border-radius: 5px;
    }

    #article #twitter-wrapper .follow {
        padding-top: 1em;
        padding-bottom: 2em;
    }
    #article .twitter.button{
        color: #fff;
        font-size: 12px;
        font-weight: 500px;
        padding: 1px 8px 1px 6px;
        background-color: #1b95e0;
    }
    </style>
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1>我的推特</h1>
        <div id="twitter-wrapper">
            <div class="head" style="padding-top: .5em; padding-bottom: 1em;">
                <i class="huge twitter icon" style="color: #1b95e0;"></i>
            </div>

            <div class="embed">
                <a class="twitter-timeline" style="border-bottom: 0;" data-lang="en" data-theme="light" href="https://twitter.com/JackeyGaoo?ref_src=twsrc%5Etfw">
                    <span style="color: #fff;">(°ཀ°)<br/>net::ERR_CONNECTION_RESET<br/>您是GFW受益者.</span>
                </a>
            </div>
            <div class="follow">
                <a class="ui twitter button" title="Follow @JackeyGaoo on Twitter" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fpublish.twitter.com%2F%3FbuttonType%3DFollowButton%26query%3Dhttps%253A%252F%252Ftwitter.com%252FJackeyGaoo%26widget%3DButton&amp;ref_src=twsrc%5Etfw&amp;region=follow_link&amp;screen_name=JackeyGaoo&amp;tw_p=followbutton"><i class="twitter icon"></i><span class="label" id="l">Follow <b style="color: #fff;">@JackeyGaoo</b></span>
                </a>
            </div>

        </div>
    </div>
    <div id="printmark">
        <div class="code" style="padding: 1em;">
            <span class="blue text"></span><a href="https://jackeygao.io">jackeygao.io</a>
        </div>
        <i class="red heart icon"></i>
    </div>
    <div id="more-words">
        <a href="/#entrys"><div id="more-words">更多日志</div></a>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script async defer  src="/assets/3rd/widgets.js" charset="utf-8"></script>
{% endblock %}
