{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/word.css">
<link rel="stylesheet" href="/static/highlight.css">
<link rel="stylesheet" href="/static/3rd/gitalk.css">
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1 class="bigtitle">{{ title }}</h1>
        <p class="post-date">Posted {{ date.strftime('%B %d, %Y') }}</p>
        {{ content }}
    </div>

    {% if set %}
    <div class="sets">
        <a href="/sets.html#{{set}}" class="set" style="float: right;">#{{ set }}</a>
    </div>
    {% endif %}

    <hr>
    <div id="comments"></div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script src="/static/3rd/gitalk.min.js"></script>
<script>
  const gitalk = new Gitalk({
      clientID: '177af99888a292531873',
      clientSecret: '7c0927c7cdf0d94eed7dad0b238552c10ec6f53c',
      repo: 'JackeyGao.github.io',
      owner: 'jackeyGao',
      admin: ['jackeyGao'],
      id: '{{ filename }}',      // Ensure uniqueness and length less than 50
      distractionFreeMode: false,  // Facebook-like distraction free mode
      labels: ['gitment'],
      pagerDirection: "last"
  })
  gitalk.render('comments')
</script>
{% endblock %}