{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/word.css">
<link rel="stylesheet" href="/static/highlight.css">
<link rel="stylesheet" href="/static/3rd/gitalk.css">

<style>
#linksWrapper .link {
    letter-spacing: 1px;
    font-size: 16px;
    padding: 5px 0;
    line-height: 1.4;
}

#linksWrapper .link .index {
    opacity: 0.6;
    font-size: 16px;
    background: #fff;
    border: 0;
    padding: 0 0;
}

#linksWrapper .link .href {
    font-style: italic;
}
</style>
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1 class="bigtitle">{{ title }}</h1>
        <p class="post-date">Posted {{ date.strftime('%B %d, %Y') }}</p>
        {{ content }}

        {% if links %}
        <div id="linksWrapper">
            <h2 class="referers">引用</h2>
            {% for link in links %}
            <div class="link">
            <code class="index">[{{ loop.index }}]</code> {{ link[2] }}: <span class="href">{{ link[1] }}</span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <hr>
    
    <div class="controls">
      <div class="trigger-comment" onclick=" gitalk.render('comments');">𝔔</div>
      {% if set %}
      <div class="sets">
        <a href="/r/sets.html#{{set}}" class="set" style="float: right;">#{{ set }}</a>
      </div>
      {% endif %}
    </div>

    <div id="comments"></div>
</div>
{% endblock %}


{% block script %}
{{ super() }}
<script src="/static/3rd/gitalk.min.js"></script>
<script>
  const gitalk = new Gitalk({
      clientID: '177af99888a292531873',
      clientSecret: '7c0927c7cdf0d94eed7dad0b238552c10ec6f53c',
      repo: 'JackeyGao.github.io',
      owner: 'jackeyGao',
      admin: ['jackeyGao'],
      id: '{{ filename }}',      // Ensure uniqueness and length less than 50
      distractionFreeMode: false,  // Facebook-like distraction free mode
      labels: ['gitment'],
      pagerDirection: "last"
  })
  // gitalk.render('comments')
</script>
{% endblock %}
