{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/words.css">
    <link rel="stylesheet" href="/assets/3rd/gitment.css">
{% endblock %}

{% block content %}
<div id="content" class="typo ui container">
    <div id="article">
        <h1>{{ title }}</h1>
        <h4>Posted {{ date.strftime('%B %d, %Y') }}</h4>
        {{ content }}
    </div>
    <div id="donate" style="margin-left: auto; margin-right: auto; width: 32em; text-align: center;"></div>
    <div id="comments">
    </div>
    <div id="footer">
        <a href="../words.html"><div id="more-words">MORE WORDS</div></a>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script src="/assets/3rd/gitment.browser.js"></script>
    <script>
    const gitment = new Gitment({
        id: '{{ filename }}', // optional
        owner: 'jackeyGao',
        repo: 'JackeyGao.github.io',
        oauth: {
          client_id: '177af99888a292531873',
          client_secret: '7c0927c7cdf0d94eed7dad0b238552c10ec6f53c',
        },
        // ...
        // For more available options, check out the documentation below
      })

    gitment.render('comments')
    </script>

{% endblock %}
