<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
    
        <meta name="author"  content="JackeyGao">
        <meta name="description" content="JackeyGao, 一个程序员的技术分享和对生活的理解.">
        <meta name="keywords"  content="JackeyGao, JackeyGao的日记本, Python, Django, Vue.js, chinese-poetry">
        <title> Django 进阶学习 - 文本框过滤 </title>
        <meta name="google-site-verification" content="xTBu05X0P9OJkoWvQWGdZimRp6nD6uqesWwTJ6v-BoA" />
        <meta name="google-site-verification" content="7Obwo8u7tT_NKgyJiirEB1qRpINEnh9BtyBa1WtiVjU" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/index.css">
        <link rel="stylesheet" href="/assets/semantic/components/button.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/site.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/icon.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/card.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/grid.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/feed.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/list.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/container.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/input.min.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">
        <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#286272">
        <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        
    <link rel="stylesheet" href="/assets/css/words.css">
    <link rel="stylesheet" href="/assets/css/monokai.css">
    <link rel="stylesheet" href="/assets/3rd/gitalk.css">
    <link rel="stylesheet" href="/assets/semantic/components/table.min.css">

    </head>
    
    <body class="sk-green">
        <div id="site-wrapper" style="display: none;" class="topwrapper">
            <div class="ui container" style="padding-top: 2em; padding-bottom: 2em;">
                <h3><span style="color: var(--main-bgc);">主题选择</span></h3>

                <div id="theme">
                    <div onclick="document.body.className = 'sk-default'; localStorage.setItem('skin', 'sk-default');" class="sk-default skin">青</div>
                    <div onclick="document.body.className = 'sk-mo'; localStorage.setItem('skin', 'sk-mo');" class="sk-mo skin">墨</div>
                    <div onclick="document.body.className = 'sk-green'; localStorage.setItem('skin', 'sk-green');" class="sk-green skin">绿</div>
                    <div onclick="document.body.className = 'sk-orange'; localStorage.setItem('skin', 'sk-orange');" class="sk-orange skin">橘</div>
                    <div onclick="document.body.className = 'sk-yellow'; localStorage.setItem('skin', 'sk-yellow');" class="sk-yellow skin">黄</div>
                    <div onclick="document.body.className = 'sk-pink'; localStorage.setItem('skin', 'sk-pink');" class="sk-pink skin">粉</div>
                </div>
                <!--
                <table id="theme" style="width: 100%; color: #fff; margin-left: auto; margin-right: auto;">
                        <tbody>
                            <tr onclick="document.body.className = 'sk-mo'; localStorage.setItem('skin', 'sk-mo');">
                                <td class="title">墨</td>
                                <td width="50%;" class="sk-mo"><div style="width: 100%;height: 25px; background: var(
                            </tr>
                            <tr onclick="document.body.className = 'sk-green'; localStorage.setItem('skin', 'sk-green');">
                                <td class="title">绿</td>
                                <td width="50%;" class="sk-green"><div style="width: 100%;height: 25px; background: var(--main-bg);" class="bg"></div></td>
                            </tr>
                            <tr onclick="document.body.className = 'sk-default'; localStorage.setItem('skin', 'sk-default');">
                                <td class="title">青</td>
                                <td width="50%;" class="sk-default"><div style="width: 100%;height: 25px; background: var(--main-bg);" class="bg"></div></td>
                            </tr>
                            <tr onclick="document.body.className = 'sk-orange'; localStorage.setItem('skin', 'sk-orange');">
                                <td class="title">橘</td>
                                <td width="50%;" class="sk-orange"><div style="width: 100%;height: 25px; background: var(--main-bg);" class="bg ">
                                </div></td>
                            </tr>
                            <tr onclick="document.body.className = 'sk-yellow'; localStorage.setItem('skin', 'sk-yellow');">
                                <td class="title">姜</td>
                                <td width="50%;" class="sk-yellow"><div style="width: 100%;height: 25px; background: var(--main-bg);" class="bg ">
                                </div></td>
                            </tr>
                        </tbody>
                    </table>
                -->
            </div>
        </div>
        <!--
        <div id="cats-wrapper" style="display: none;" class="topwrapper">
            <div class="ui container" style="">
                <table style="color: #fff;">
                    <tbody>
                        <tr>
                            <td valign="middle" align="center" width="50%">
                                <img src="/assets/cat-bn-avatar.jpeg" />
                                <div class="name">波妞</div>
                                <div class="time">2017年2月21号</div>
                            </td>
                            <td valign="middle" align="center" width="50%">
                                <img src="/assets/cat-ss-avatar.png" />
                                <div class="name">三三</div>
                                <div class="time">2017年4月10号</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        -->
        <div id="donation-wrapper" style="display: none;" class="topwrapper">
            <div class="ui container" style="text-align: center; padding-top: 2em; padding-bottom: 2em;">
                <div class="description">
                    <i class="teal quote left icon"></i>
                    如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作!
                    <i class="teal quote right icon"></i>
                </div>


                <div class="ui buttons">
                    <button onclick="useWechat()" id="wechat" class="ui active secondary icon button">
                        微信
                    </button>
                    <button onclick="useAlipay()" id="alipay" class="ui secondary icon button">
                        支付宝
                    </button>
                </div>

                <div id="donation-qrcode">
                    <img id="wechat-qrcode-image" src="/assets/images/wechat.png">
                    <img id="alipay-qrcode-image" src="/assets/images/alipay.png">
                    <!-- <img id="donation-qrcode-image" src="/assets/images/wechat.png"> -->
                </div>

                <div class="in-top-link">
                    <a href="/donation.html">
                        <i class="question circle outline icon"></i>为什么?
                    </a>
                </div>
            </div>
        </div>
        <div id="friends-links-wrapper" style="display: none;" class="topwrapper">
            <div class="ui container" style="text-align: center; padding-top: 2em; padding-bottom: 2em;">
                <div class="ui stackable two column grid">
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="https://jackeygao.io" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/assets/images/avatar.png">
                              </div>
                              <div class="content">
                                <div class="date">
                                   JackeyGao
                                </div>
                                <a href="https://jackeygao.io" class="summary">
                                   JackeyGao笔记本
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="https://www.yangshiwei.top" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/yangshiwei.jpg">
                              </div>
                              <div class="content">
                                <div class="date">
                                   Yangshiwei
                                </div>
                                <a href="https://www.yangshiwei.top" class="summary">
                                   杨世威个人站
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="https://weijunzii.github.io" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/weijunzi.jpeg">
                              </div>
                              <div class="content">
                                <div class="date">
                                   伪君子
                                </div>
                                <a href="https://weijunzii.github.io" class="summary">
                                   伪君子的梦呓
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="https://blog.willdx.me" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/willdx.jpg">
                              </div>
                              <div class="content">
                                <div class="date">
                                   willdx
                                </div>
                                <a href="https://blog.willdx.me" class="summary">
                                   Will Dx的博客
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="http://rw.imdancer.com/" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/willdx.jpg">
                              </div>
                              <div class="content">
                                <div class="date">
                                   willdx
                                </div>
                                <a href="http://rw.imdancer.com/" class="summary">
                                   读·写
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="http://liangyouqiao.me/" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/joe.jpg">
                              </div>
                              <div class="content">
                                <div class="date">
                                   Joe.
                                </div>
                                <a href="http://liangyouqiao.me/" class="summary">
                                   LY.Qiao
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="http://www.yuchen.info" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/yuchen.png">
                              </div>
                              <div class="content">
                                <div class="date">
                                   Yu Chen
                                </div>
                                <a href="http://www.yuchen.info" class="summary">
                                   ➹絆
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="http://lovefc.cn" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/lovefc.jpg">
                              </div>
                              <div class="content">
                                <div class="date">
                                   lovefc
                                </div>
                                <a href="http://lovefc.cn" class="summary">
                                   封尘博客
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="https://sunyancn.github.io/" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/sunyan.jpg">
                              </div>
                              <div class="content">
                                <div class="date">
                                   sunyan
                                </div>
                                <a href="https://sunyancn.github.io/" class="summary">
                                   Sun Yan's Blog
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="column" style="padding-left: 0; padding-right: 0;">
                        <div class="ui feed" href="http://www.firstphp.com" style="padding: .5em 1em;">
                            <div class="event">
                              <div class="label">
                                <img src="/uploads/images/friends/firstphp.jpeg">
                              </div>
                              <div class="content">
                                <div class="date">
                                   狂奔的蚂蚁
                                </div>
                                <a href="http://www.firstphp.com" class="summary">
                                   狂奔的蚂蚁的博客
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="in-top-link">
                    <a href="/words/links.html">
                        <i class="question circle outline icon"></i>我也要出现在这里.
                    </a>
                </div>
            </div>
        </div>

        <div id="social-links-wrapper" style="display: none;" class="topwrapper">
            <div class="ui container" style="text-align: center; padding-top: 2em; padding-bottom: 2em;">
                <a href="mailto:gaojunqi@outlook.com">
                    <button class="ui mini red circular icon button">
                        <i class="mail icon"></i>
                    </button>
                </a>
                <a href="https://github.com/jackeygao">
                    <button class="ui mini grey circular github icon button">
                      <i class="github icon"></i>
                    </button>
                </a>
                <a href="https://twitter.com/JackeyGaoo">
                    <button class="ui mini circular twitter icon button">
                      <i class="twitter icon"></i>
                    </button>
                </a>
                <button onclick="toggleWechat()" class="ui mini green circular icon button">
                    <i class="wechat icon"></i>
                </button>
                
                <div id="wx" style="display: none;">
                    <img src="/assets/images/wx.png" />
                    <img src="/assets/images/dy.png" />
                </div>
            </div>
        </div>

        <div id="search-wrapper" style="display: none;" class="topwrapper">
            <div id="search" class="ui container" style="padding-top: 2em; padding-bottom: 2em;">
                <input id="searchInput" onkeypress="return search(event)" type="search" placeholder="Search with google...">
            </div>
        </div>

        <div id="topbar"></div>

        <div id="triggers-wrapper">
            <div class="ui black mini buttons">
                <button onclick="toggleById(wrappers, 'site-wrapper')" class="ui secondary site-wrapper icon button">
                    <i class="snowflake icon"></i>
                </button>
    
                <button onclick="toggleById(wrappers, 'social-links-wrapper')" class="ui secondary social-links-wrapper icon button">
                    <i class="sign language icon"></i>
                </button>
                <button onclick="toggleById(wrappers, 'friends-links-wrapper')" class="ui secondary friends-links-wrapper icon button">
                    <i class="users icon"></i>
                </button>
                <button onclick="toggleById(wrappers, 'search-wrapper')" class="ui secondary search-wrapper icon button">
                    <i class="search icon"></i>
                </button>
                <!--
                <button onclick="toggleById(wrappers, 'cats-wrapper')" class="ui secondary cats-wrapper icon button">
                    🐱
                </button>
                -->
                <button onclick="toggleById(wrappers, 'donation-wrapper')" class="ui secondary donation-wrapper icon button">
                    <i class="gift icon"></i>
                </button>
            </div>
        </div> 
    
        <div id="main">
            <div class="me">
                <div class="avatar">
                    <img src="/assets/images/avatar.png">
                </div>
    
                <div class="name">
                    JackeyGao
                </div>

                <span class="sign">人世一身霜雪, 归来仍是少年.</span>
            </div>
            
            <div class="top menu">
                <div class="ui horizontal bulleted link list">
                    <a href="/" class="item">
                        主页
                    </a>
                    <a href="/sets.html" class="item">
                        专题
                    </a>
                    <a href="/about.html" class="item">
                        关于我
                    </a>
                    <a href="#social-links-wrapper" style="cursor: pointer;" class="item" onclick="toggleById(wrappers, 'social-links-wrapper')">
                        联系
                    </a>
                    <a href="/rss.xml" class="item">
                        RSS 
                    </a>
                </div>
            </div>

            
<div id="content" class="typo ui container">
    <div id="article">
        <h1 class="bigtitle">Django 进阶学习 - 文本框过滤</h1>
        <p class="post-date">Posted May 03, 2016</p>

        <div class="ads">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle"
                 style="display:block; text-align:center;"
                 data-ad-layout="in-article"
                 data-ad-format="fluid"
                 data-ad-client="ca-pub-9738250388250341"
                 data-ad-slot="8740144773"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <p>默认情况下django可以对列进行过滤， 但大多数是对<code>Relationship</code>列通过<code>list_filter</code> 直接指定<code>field name</code>就可以方便的进行过滤了， 但是如果实现文本框输入过滤属性， 然后通过按钮触发事件后来过滤只能通过自定义Django filter来实现</p>

<p><strong>首先自定义一个filter类</strong></p>

<p><code>filters.py</code> 默认情况下如果没有<code>filters.py</code>需要在app目录新建此模块, 推荐命名<code>filters.py</code>, 下面这个类是通用的， 所以我们要基于模型的某个字段来定义一个Filter类，继承<code>SingleTextInputFilter</code>(还是在<code>filters.py</code>)</p>
<div class="code-wrapper"><a href="#code9027994700198740602" id="code9027994700198740602" class="lang-label">python</a><div class="title-label empty">&nbsp;</div><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.contrib.admin</span> <span class="kn">import</span> <span class="n">ListFilter</span>
<span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="kn">import</span> <span class="n">ugettext_lazy</span> <span class="k">as</span> <span class="n">_</span>

<span class="k">class</span> <span class="nc">SingleTextInputFilter</span><span class="p">(</span><span class="n">ListFilter</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    renders filter form with text input and submit button</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="n">parameter_name</span> <span class="o">=</span> <span class="bp">None</span>
    <span class="n">template</span> <span class="o">=</span> <span class="s2">&quot;admin/textinput_filter.html&quot;</span>

    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">params</span><span class="p">,</span> <span class="n">model</span><span class="p">,</span> <span class="n">model_admin</span><span class="p">):</span>
        <span class="nb">super</span><span class="p">(</span><span class="n">SingleTextInputFilter</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="fm">__init__</span><span class="p">(</span>
            <span class="n">request</span><span class="p">,</span> <span class="n">params</span><span class="p">,</span> <span class="n">model</span><span class="p">,</span> <span class="n">model_admin</span><span class="p">)</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span> <span class="ow">is</span> <span class="bp">None</span><span class="p">:</span>
            <span class="k">raise</span> <span class="n">ImproperlyConfigured</span><span class="p">(</span>
                <span class="s2">&quot;The list filter &#39;</span><span class="si">%s</span><span class="s2">&#39; does not specify &quot;</span>
                <span class="s2">&quot;a &#39;parameter_name&#39;.&quot;</span> <span class="o">%</span> <span class="bp">self</span><span class="o">.</span><span class="vm">__class__</span><span class="o">.</span><span class="vm">__name__</span><span class="p">)</span>

        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span> <span class="ow">in</span> <span class="n">params</span><span class="p">:</span>
            <span class="n">value</span> <span class="o">=</span> <span class="n">params</span><span class="o">.</span><span class="n">pop</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">)</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">used_parameters</span><span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">]</span> <span class="o">=</span> <span class="n">value</span>

    <span class="k">def</span> <span class="nf">value</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">        Returns the value (in string format) provided in the request&#39;s</span>
<span class="sd">        query string for this filter, if any. If the value wasn&#39;t provided then</span>
<span class="sd">        returns None.</span>
<span class="sd">        &quot;&quot;&quot;</span>
        <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">used_parameters</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">,</span> <span class="bp">None</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">has_output</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="bp">True</span>

    <span class="k">def</span> <span class="nf">expected_parameters</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">        Returns the list of parameter names that are expected from the</span>
<span class="sd">        request&#39;s query string and that will be used by this filter.</span>
<span class="sd">        &quot;&quot;&quot;</span>
        <span class="k">return</span> <span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">]</span>


    <span class="k">def</span> <span class="nf">choices</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">cl</span><span class="p">):</span>
        <span class="n">all_choice</span> <span class="o">=</span> <span class="p">{</span>
            <span class="s1">&#39;selected&#39;</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">()</span> <span class="ow">is</span> <span class="bp">None</span><span class="p">,</span>
            <span class="s1">&#39;query_string&#39;</span><span class="p">:</span> <span class="n">cl</span><span class="o">.</span><span class="n">get_query_string</span><span class="p">({},</span> <span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">]),</span>
            <span class="s1">&#39;display&#39;</span><span class="p">:</span> <span class="n">_</span><span class="p">(</span><span class="s1">&#39;All&#39;</span><span class="p">),</span>
        <span class="p">}</span>
        <span class="k">return</span> <span class="p">({</span>
            <span class="s1">&#39;get_query&#39;</span><span class="p">:</span> <span class="n">cl</span><span class="o">.</span><span class="n">params</span><span class="p">,</span>
            <span class="s1">&#39;current_value&#39;</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">(),</span>
            <span class="s1">&#39;all_choice&#39;</span><span class="p">:</span> <span class="n">all_choice</span><span class="p">,</span>
            <span class="s1">&#39;parameter_name&#39;</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span>
        <span class="p">},</span> <span class="p">)</span>

<span class="k">class</span> <span class="nc">IpFilter</span><span class="p">(</span><span class="n">SingleTextInputFilter</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;基于IP过滤, 继承SigleTextInputFilter&quot;&quot;&quot;</span>
    <span class="n">title</span> <span class="o">=</span> <span class="s2">&quot;IP&quot;</span>
    <span class="n">parameter_name</span> <span class="o">=</span> <span class="s1">&#39;ip&#39;</span>  <span class="c1">#作用model的字段名</span>
    <span class="k">def</span> <span class="nf">queryset</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">queryset</span><span class="p">):</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">():</span>
            <span class="k">return</span> <span class="n">queryset</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">ip__iexact</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">())</span> <span class="err">＃</span> <span class="err">这里自定义过滤条件</span><span class="o">.</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">()</span> <span class="err">是文本框输入的值</span><span class="o">.</span>
</pre></div>
</div>
<p><strong>自定义filter template</strong></p>

<p><code>admin/textinput_filter.html</code>, 直接放到本项目的template目录即可， 千万不要放到<code>django</code>包目录下的admin template目录， 如果你了解django 模版检索的过程优先级， 你应该知道我说的意思. 这里我放到<code>$MYAPP/templates/admin/textinput_filter.html</code>位置</p>
<div class="code-wrapper"><a href="#code5242920508298985100" id="code5242920508298985100" class="lang-label">html</a><div class="title-label empty">&nbsp;</div><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">h3</span><span class="p">&gt;</span>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}<span class="p">&lt;/</span><span class="nt">h3</span><span class="p">&gt;</span>

{#i for item, to be short in names#}
{% with choices.0 as i %}
<span class="p">&lt;</span><span class="nt">ul</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">form</span> <span class="na">method</span><span class="o">=</span><span class="s">&quot;get&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;search&quot;</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;{{ i.parameter_name }}&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;{{ i.current_value|default_if_none:&quot;</span><span class="err">&quot;</span> <span class="err">}}&quot;</span><span class="p">/&gt;</span>

            {#create hidden inputs to preserve values from other filters and search field#}
            {% for k, v in i.get_query.items %}
                {% if not k == i.parameter_name %}
                    <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;hidden&quot;</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;{{ k }}&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;{{ v }}&quot;</span><span class="p">&gt;</span>
                {% endif %}
            {% endfor %}
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;{% trans &#39;apply&#39; %}&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">form</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>

    {#show &quot;All&quot; link to reset current filter#}
    <span class="p">&lt;</span><span class="nt">li</span><span class="err">{%</span> <span class="na">if</span> <span class="na">i</span><span class="err">.</span><span class="na">all_choice</span><span class="err">.</span><span class="na">selected</span> <span class="err">%}</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;selected&quot;</span><span class="err">{%</span> <span class="na">endif</span> <span class="err">%}</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ i.all_choice.query_string|iriencode }}&quot;</span><span class="p">&gt;</span>
            {{ i.all_choice.display }}
        <span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
{% endwith %}
</pre></div>
</div>
<p><strong>最后配置admin.py</strong></p>

<p><code>admin.py</code></p>
<div class="code-wrapper"><a href="#code-6745358032877966155" id="code-6745358032877966155" class="lang-label">python</a><div class="title-label empty">&nbsp;</div><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">controller.filters</span> <span class="kn">import</span> <span class="n">IpFilter</span>

<span class="k">class</span> <span class="nc">TriggerAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">empty_value_display</span> <span class="o">=</span> <span class="sa">u</span><span class="s1">&#39;无规则&#39;</span>
    <span class="n">list_display</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;__str__&#39;</span><span class="p">,</span> <span class="s1">&#39;id&#39;</span><span class="p">,</span> <span class="s1">&#39;ip&#39;</span><span class="p">,</span> <span class="s1">&#39;t_type&#39;</span><span class="p">,</span>
            <span class="s1">&#39;get_converge&#39;</span><span class="p">,</span> <span class="s1">&#39;get_switch&#39;</span><span class="p">,</span> <span class="s1">&#39;level&#39;</span><span class="p">)</span>
    <span class="n">search_fields</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;description&#39;</span><span class="p">,)</span>
    <span class="n">list_filter</span> <span class="o">=</span> <span class="p">(</span><span class="n">IpFilter</span><span class="p">,</span> <span class="s1">&#39;t_type&#39;</span><span class="p">,</span> <span class="s1">&#39;converge_role&#39;</span><span class="p">,</span> <span class="s1">&#39;switch_role&#39;</span><span class="p">,</span> <span class="s1">&#39;level&#39;</span><span class="p">)</span> <span class="c1"># 直接把IpFilter类写进去</span>
</pre></div>
</div>
<p><strong>配置完成</strong></p>

    </div>

    


    <div id="donate" style="text-align: center;">
        <a href="#donation-wrapper"><div onclick="displayDonation()" class="ui basic button">打赏 <i class="gift icon"></i></div></a>
    </div>
    <div id="comments">
    </div>
    <div id="more-words">
        <a href="/#entrys"><div id="more-words">更多日志</div></a>
    </div>
</div>

        </div>

        <div id="footer" class="footer">
            <div id="jinrishici-tag">长恨</div>
            <span id="jinrishici-sentence">自是人生长恨水长东.</span>
        </div>

        <div id="end">
            <span>©   JackeyGao.io 2019.</span>
            <br/>
            <i onclick="jinrishiciLoad()" style="margin-top: 10px; color: var(--main-bg);" class="superpowers icon"></i>
        </div>

        <script src="/assets/js/web.js"></script>
        <!--
        <script src="/assets/3rd/canvas-nest.umd.js"></script>
        <script>
        var cn = new CanvasNest(document.body, {
            color: '64, 64, 64',
            pointColor: '0, 0, 0',
            opacity: 0.4,
            count: 99,
            zIndex: 1
        });
        </script>
        -->
    </body>
    
    
    <script>
        var wrappers = ["donation-wrapper", "social-links-wrapper", "search-wrapper", "site-wrapper", "friends-links-wrapper"]
        window.onload = function () {
            useWechat();
        }

        var skin = localStorage.getItem('skin');

        if (skin) {
            document.body.className = skin;
        } else {
            localStorage.setItem('skin', 'sk-green');
        }

        // 统计代码
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93231524-1', 'auto');
        ga('send', 'pageview');

        // 今日诗词
        function jinrishiciLoad () {
            var xhr = new XMLHttpRequest();
            xhr.open('get', 'https://v2.jinrishici.com/one.json');
            xhr.withCredentials = true;
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4) {
                var data = JSON.parse(xhr.responseText);
                // 处理示例
                var gushici = document.getElementById('jinrishici-sentence');
                gushici.innerText = data.data.content;
                var gushiciTag = document.getElementById('jinrishici-tag');
                if (data.data.matchTags.length > 0) {
                    gushiciTag.innerText = data.data.matchTags[0];
                } else {
                    gushiciTag.innerText = data.data.origin.author;
                }
              }
            };
            xhr.send();
        }

        jinrishiciLoad()
    </script>
    
    <script src="/assets/3rd/gitalk.min.js"></script>
    <script>
    const gitalk = new Gitalk({
        clientID: '177af99888a292531873',
        clientSecret: '7c0927c7cdf0d94eed7dad0b238552c10ec6f53c',
        repo: 'JackeyGao.github.io',
        owner: 'jackeyGao',
        admin: ['jackeyGao'],
        id: 'intermediate-django-single-input-text-filter',      // Ensure uniqueness and length less than 50
        distractionFreeMode: false,  // Facebook-like distraction free mode
        labels: ['gitment'],
        pagerDirection: "last"
    })
      
    gitalk.render('comments')
    </script>


</html>