<html>
    <head>
        <meta charset="utf-8">
        
    
        <title> Django 进阶学习 - 文本框过滤 </title>
        <meta name="google-site-verification" content="xTBu05X0P9OJkoWvQWGdZimRp6nD6uqesWwTJ6v-BoA" />
        <meta name="google-site-verification" content="7Obwo8u7tT_NKgyJiirEB1qRpINEnh9BtyBa1WtiVjU" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/global.css">
        <link rel="stylesheet" href="/assets/semantic/components/button.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/icon.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/list.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/container.min.css">
        <link rel="stylesheet" href="/assets/semantic/components/input.min.css">
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
        
    <link rel="stylesheet" href="/assets/words.css">
    <link rel="stylesheet" href="/assets/monokai.css">
    <link rel="stylesheet" href="/assets/3rd/gitment.css">
    <link rel="stylesheet" href="/assets/semantic/components/table.min.css">

        <script>
            // 统计代码
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-93231524-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    
    <body>
        <div id="site-wrapper" style="display: none;" class="topwrapper">
            <div class="ui container">
                <h3><span style="color: #fff;">本站源码托管于</span></h3>

                <a href="https://github.com/jackeygao/jackeygao.github.io">jackeyGao <b>/</b> jackeyGao.github.io</a>
            </div>
        </div>
        <div id="cats-wrapper" style="display: none;" class="topwrapper">
            <div class="ui container">
                <table style="color: #fff;">
                    <tbody>
                        <tr>
                            <td valign="middle" align="center" width="50%">
                                <img src="/assets/cat-bn-avatar.jpeg" />
                                <div class="name">波妞</div>
                                <div class="time">2017年2月21号</div>
                            </td>
                            <td valign="middle" align="center" width="50%">
                                <img src="/assets/cat-ss-avatar.png" />
                                <div class="name">三三</div>
                                <div class="time">2017年4月10号</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
        <div id="donation-wrapper" style="display: none;" class="topwrapper">
            <div class="ui container" style="text-align: center;">
                <div class="description">
                    <i class="teal quote left icon"></i>
                    如果觉得我的文章对您有用，请随意打赏。您的支持将鼓励我继续创作!
                    <i class="teal quote right icon"></i>
                </div>

                <div class="ui buttons">
                    <button onclick="useWechat()" id="wechat" class="ui active secondary icon button">
                        微信
                    </button>
                    <button onclick="useAlipay()" id="alipay" class="ui secondary icon button">
                        支付宝
                    </button>
                </div>

                <div id="donation-qrcode">
                    <img id="wechat-qrcode-image" src="/assets/images/wechat.png">
                    <img id="alipay-qrcode-image" src="/assets/images/alipay.jpg">
                    <!-- <img id="donation-qrcode-image" src="/assets/images/wechat.png"> -->
                </div>
            </div>
        </div>

        <div id="social-links-wrapper" style="display: none;" class="topwrapper">
            <a href="mailto:gaojunqi@outlook.com">
                <button class="ui mini red circular icon button">
                    <i class="mail icon"></i>
                </button>
            </a>
            <a href="https://github.com/jackeygao">
                <button class="ui mini grey circular github icon button">
                  <i class="github icon"></i>
                </button>
            </a>
            <a href="https://twitter.com/JackeyGaoo">
                <button class="ui mini circular twitter icon button">
                  <i class="twitter icon"></i>
                </button>
            </a>
            <button onclick="toggleWechat()" class="ui mini green circular icon button">
                <i class="wechat icon"></i>
            </button>
            
            <div id="wx" style="display: none;">
                <img src="/assets/images/wx.jpeg" />
            </div>
        </div>

        <div id="search-wrapper" style="display: none;" class="topwrapper">
            <div id="search" class="ui container">
              <input id="searchInput" onkeypress="return search(event)" type="search" placeholder="Search with google...">
            </div>
        </div>

        <div style="background-color: #000; height: 5px; width: 100%;"></div>

        <div id="triggers-wrapper">
            <div class="ui black mini buttons">
                <button onclick="toggleById(wrappers, 'site-wrapper')" class="ui secondary icon button">
                    <i class="list layout icon"></i>
                </button>
    
                <button onclick="toggleById(wrappers, 'social-links-wrapper')" class="ui secondary icon button">
                    <i class="linkify icon"></i>
                </button>
                <button onclick="toggleById(wrappers, 'search-wrapper')" class="ui secondary icon button">
                    <i class="search icon"></i>
                </button>
                <button onclick="toggleById(wrappers, 'cats-wrapper')" class="ui secondary icon button">
                    🐱
                </button>
                <button onclick="toggleById(wrappers, 'donation-wrapper')" class="ui secondary icon button">
                    <i class="red heart icon"></i>
                </button>
            </div>
        </div> 
    
        <div id="main">
            <div class="me">
                <div class="avatar">
                    <img src="/assets/images/avatar.png">
                </div>
    
                <h2 class="name"><span class="grey text">Jackey Gao</span></h2>

                <span class="sign">人世一身霜雪, 归来仍是少年.</span>
            </div>
            
            <div class="menu">
                <div class="ui horizontal bulleted link list">
                    <a href="/" class="item">
                        主页
                    </a>
                    <a href="/about.html" class="item">
                        关于我
                    </a>
                    <div style="cursor: pointer;" class="item" onclick="toggleById(wrappers, 'social-links-wrapper')">
                        联系
                    </div>
                </div>
            </div>

            
<div id="content" class="typo ui container">
    <div id="article">
        <h1>Django 进阶学习 - 文本框过滤</h1>
        <h4>Posted May 03, 2016</h4>
        <p>默认情况下django可以对列进行过滤， 但大多数是对<code>Relationship</code>列通过<code>list_filter</code> 直接指定<code>field name</code>就可以方便的进行过滤了， 但是如果实现文本框输入过滤属性， 然后通过按钮触发事件后来过滤只能通过自定义Django filter来实现</p>

<p><strong>首先自定义一个filter类</strong></p>

<p><code>filters.py</code> 默认情况下如果没有<code>filters.py</code>需要在app目录新建此模块, 推荐命名<code>filters.py</code>, 下面这个类是通用的， 所以我们要基于模型的某个字段来定义一个Filter类，继承<code>SingleTextInputFilter</code>(还是在<code>filters.py</code>)</p>
<div class="code-wrapper"><div class="lang-label">Python</div><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.contrib.admin</span> <span class="kn">import</span> <span class="n">ListFilter</span>
<span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="kn">import</span> <span class="n">ugettext_lazy</span> <span class="k">as</span> <span class="n">_</span>

<span class="k">class</span> <span class="nc">SingleTextInputFilter</span><span class="p">(</span><span class="n">ListFilter</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">    renders filter form with text input and submit button</span>
<span class="sd">    &quot;&quot;&quot;</span>
    <span class="n">parameter_name</span> <span class="o">=</span> <span class="bp">None</span>
    <span class="n">template</span> <span class="o">=</span> <span class="s2">&quot;admin/textinput_filter.html&quot;</span>

    <span class="k">def</span> <span class="fm">__init__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">params</span><span class="p">,</span> <span class="n">model</span><span class="p">,</span> <span class="n">model_admin</span><span class="p">):</span>
        <span class="nb">super</span><span class="p">(</span><span class="n">SingleTextInputFilter</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="fm">__init__</span><span class="p">(</span>
            <span class="n">request</span><span class="p">,</span> <span class="n">params</span><span class="p">,</span> <span class="n">model</span><span class="p">,</span> <span class="n">model_admin</span><span class="p">)</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span> <span class="ow">is</span> <span class="bp">None</span><span class="p">:</span>
            <span class="k">raise</span> <span class="n">ImproperlyConfigured</span><span class="p">(</span>
                <span class="s2">&quot;The list filter &#39;</span><span class="si">%s</span><span class="s2">&#39; does not specify &quot;</span>
                <span class="s2">&quot;a &#39;parameter_name&#39;.&quot;</span> <span class="o">%</span> <span class="bp">self</span><span class="o">.</span><span class="vm">__class__</span><span class="o">.</span><span class="vm">__name__</span><span class="p">)</span>

        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span> <span class="ow">in</span> <span class="n">params</span><span class="p">:</span>
            <span class="n">value</span> <span class="o">=</span> <span class="n">params</span><span class="o">.</span><span class="n">pop</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">)</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">used_parameters</span><span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">]</span> <span class="o">=</span> <span class="n">value</span>

    <span class="k">def</span> <span class="nf">value</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">        Returns the value (in string format) provided in the request&#39;s</span>
<span class="sd">        query string for this filter, if any. If the value wasn&#39;t provided then</span>
<span class="sd">        returns None.</span>
<span class="sd">        &quot;&quot;&quot;</span>
        <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">used_parameters</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">,</span> <span class="bp">None</span><span class="p">)</span>

    <span class="k">def</span> <span class="nf">has_output</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="k">return</span> <span class="bp">True</span>

    <span class="k">def</span> <span class="nf">expected_parameters</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="sd">&quot;&quot;&quot;</span>
<span class="sd">        Returns the list of parameter names that are expected from the</span>
<span class="sd">        request&#39;s query string and that will be used by this filter.</span>
<span class="sd">        &quot;&quot;&quot;</span>
        <span class="k">return</span> <span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">]</span>


    <span class="k">def</span> <span class="nf">choices</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">cl</span><span class="p">):</span>
        <span class="n">all_choice</span> <span class="o">=</span> <span class="p">{</span>
            <span class="s1">&#39;selected&#39;</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">()</span> <span class="ow">is</span> <span class="bp">None</span><span class="p">,</span>
            <span class="s1">&#39;query_string&#39;</span><span class="p">:</span> <span class="n">cl</span><span class="o">.</span><span class="n">get_query_string</span><span class="p">({},</span> <span class="p">[</span><span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span><span class="p">]),</span>
            <span class="s1">&#39;display&#39;</span><span class="p">:</span> <span class="n">_</span><span class="p">(</span><span class="s1">&#39;All&#39;</span><span class="p">),</span>
        <span class="p">}</span>
        <span class="k">return</span> <span class="p">({</span>
            <span class="s1">&#39;get_query&#39;</span><span class="p">:</span> <span class="n">cl</span><span class="o">.</span><span class="n">params</span><span class="p">,</span>
            <span class="s1">&#39;current_value&#39;</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">(),</span>
            <span class="s1">&#39;all_choice&#39;</span><span class="p">:</span> <span class="n">all_choice</span><span class="p">,</span>
            <span class="s1">&#39;parameter_name&#39;</span><span class="p">:</span> <span class="bp">self</span><span class="o">.</span><span class="n">parameter_name</span>
        <span class="p">},</span> <span class="p">)</span>

<span class="k">class</span> <span class="nc">IpFilter</span><span class="p">(</span><span class="n">SingleTextInputFilter</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;基于IP过滤, 继承SigleTextInputFilter&quot;&quot;&quot;</span>
    <span class="n">title</span> <span class="o">=</span> <span class="s2">&quot;IP&quot;</span>
    <span class="n">parameter_name</span> <span class="o">=</span> <span class="s1">&#39;ip&#39;</span>  <span class="c1">#作用model的字段名</span>
    <span class="k">def</span> <span class="nf">queryset</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">queryset</span><span class="p">):</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">():</span>
            <span class="k">return</span> <span class="n">queryset</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">ip__iexact</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">())</span> <span class="err">＃</span> <span class="err">这里自定义过滤条件</span><span class="o">.</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">()</span> <span class="err">是文本框输入的值</span><span class="o">.</span>
</pre></div>
</div>
<p><strong>自定义filter template</strong></p>

<p><code>admin/textinput_filter.html</code>, 直接放到本项目的template目录即可， 千万不要放到<code>django</code>包目录下的admin template目录， 如果你了解django 模版检索的过程优先级， 你应该知道我说的意思. 这里我放到<code>$MYAPP/templates/admin/textinput_filter.html</code>位置</p>
<div class="code-wrapper"><div class="lang-label">HTML</div><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">h3</span><span class="p">&gt;</span>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}<span class="p">&lt;/</span><span class="nt">h3</span><span class="p">&gt;</span>

{#i for item, to be short in names#}
{% with choices.0 as i %}
<span class="p">&lt;</span><span class="nt">ul</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">li</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">form</span> <span class="na">method</span><span class="o">=</span><span class="s">&quot;get&quot;</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;search&quot;</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;{{ i.parameter_name }}&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;{{ i.current_value|default_if_none:&quot;</span><span class="err">&quot;</span> <span class="err">}}&quot;</span><span class="p">/&gt;</span>

            {#create hidden inputs to preserve values from other filters and search field#}
            {% for k, v in i.get_query.items %}
                {% if not k == i.parameter_name %}
                    <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;hidden&quot;</span> <span class="na">name</span><span class="o">=</span><span class="s">&quot;{{ k }}&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;{{ v }}&quot;</span><span class="p">&gt;</span>
                {% endif %}
            {% endfor %}
            <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;{% trans &#39;apply&#39; %}&quot;</span><span class="p">&gt;</span>
        <span class="p">&lt;/</span><span class="nt">form</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>

    {#show &quot;All&quot; link to reset current filter#}
    <span class="p">&lt;</span><span class="nt">li</span><span class="err">{%</span> <span class="na">if</span> <span class="na">i</span><span class="err">.</span><span class="na">all_choice</span><span class="err">.</span><span class="na">selected</span> <span class="err">%}</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;selected&quot;</span><span class="err">{%</span> <span class="na">endif</span> <span class="err">%}</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ i.all_choice.query_string|iriencode }}&quot;</span><span class="p">&gt;</span>
            {{ i.all_choice.display }}
        <span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
{% endwith %}
</pre></div>
</div>
<p><strong>最后配置admin.py</strong></p>

<p><code>admin.py</code></p>
<div class="code-wrapper"><div class="lang-label">Python</div><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">controller.filters</span> <span class="kn">import</span> <span class="n">IpFilter</span>

<span class="k">class</span> <span class="nc">TriggerAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">empty_value_display</span> <span class="o">=</span> <span class="sa">u</span><span class="s1">&#39;无规则&#39;</span>
    <span class="n">list_display</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;__str__&#39;</span><span class="p">,</span> <span class="s1">&#39;id&#39;</span><span class="p">,</span> <span class="s1">&#39;ip&#39;</span><span class="p">,</span> <span class="s1">&#39;t_type&#39;</span><span class="p">,</span>
            <span class="s1">&#39;get_converge&#39;</span><span class="p">,</span> <span class="s1">&#39;get_switch&#39;</span><span class="p">,</span> <span class="s1">&#39;level&#39;</span><span class="p">)</span>
    <span class="n">search_fields</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;description&#39;</span><span class="p">,)</span>
    <span class="n">list_filter</span> <span class="o">=</span> <span class="p">(</span><span class="n">IpFilter</span><span class="p">,</span> <span class="s1">&#39;t_type&#39;</span><span class="p">,</span> <span class="s1">&#39;converge_role&#39;</span><span class="p">,</span> <span class="s1">&#39;switch_role&#39;</span><span class="p">,</span> <span class="s1">&#39;level&#39;</span><span class="p">)</span> <span class="c1"># 直接把IpFilter类写进去</span>
</pre></div>
</div>
<p><strong>配置完成</strong></p>

    </div>
    <div id="donate" style="margin-left: auto; margin-right: auto; width: 32em; text-align: center;"></div>
    <div id="comments">
    </div>
    <div id="footer">
        <a href="/#entrys"><div id="more-words">MORE WORDS</div></a>
    </div>
</div>

        </div>
    </body>
    
    
    <script>
        var wrappers = ["cats-wrapper", "donation-wrapper", "social-links-wrapper", "search-wrapper", "site-wrapper"]

        window.onload = function () {
            useWechat()
        }
    </script>
    <script src="/assets/js/web.js"></script>
    
    <script src="/assets/3rd/gitment.browser.js"></script>
    <script>
    const gitment = new Gitment({
        id: 'intermediate-django-single-input-text-filter', // optional
        owner: 'jackeyGao',
        repo: 'JackeyGao.github.io',
        oauth: {
          client_id: '177af99888a292531873',
          client_secret: '7c0927c7cdf0d94eed7dad0b238552c10ec6f53c',
        },
        // ...
        // For more available options, check out the documentation below
      })

    gitment.render('comments')
    </script>


</html>